[2021-07-12 06:21] IronManZ opened #3 "Error when using the docker install command."
Could you please add more detail on how to setup the mySql database?

`docker run --init --name bytebase --restart always --publish 8080:8080 --volume ~/.bytebase/data:/var/opt/bytebase bytebase/bytebase:0.1.0 --data /var/opt/bytebase --host http://localhost --port 8080

Unable to find image 'bytebase/bytebase:0.1.0' locally
0.1.0: Pulling from bytebase/bytebase
5843afab3874: Pull complete
0ebceee

[2021-07-12 07:15] tianzhou commented on #3
Thanks for the report and giving Bytebase an early try~

This error is expected. To bootstrap the onboarding experience, we pre-created 2 dummy mysql instances. One for prod and one for test. Surely the connection would fail since that instance does not exist.

Bytebase periodically sync database schema for the recorded instance and will emit an error in console if the sync fails. And that's what

[2021-07-12 07:17] tianzhou commented on #3
The original purpose to surface this error is to inform Bytebase admin that there is connection failure when trying to sync the instance schema.

I will leave this bug open for now as I plan to design a better UX to surface this error.

[2021-07-12 18:16] tianzhou commented on #3
f85fbb5

[2021-07-12 20:22] IronManZ commented on #3
I think it is better to include the instuctions on setting up the dummy mysql instances and the connection configuration in the installation guide.

[2021-07-13 16:04] tianzhou commented on #3
Added the instruction for dummy mysql instance setup using docker https://docs.bytebase.com/install/docker#run-on-localhost-8080

Also modified sample data accordingly 26040f3

[2021-07-13 16:04] #3 closed

[2021-07-22 23:48] liuqian1990 opened #5 "large table add cloumn"
What method is used to add columns to large tables

[2021-07-23 03:15] #5 closed

[2021-07-25 09:02] t0rjan opened #7 "When will postgresql support and what are the competing products? ?"

[2021-07-25 18:45] tianzhou commented on #7
We don't have a definitive date for PostgreSQL yet, A rough estimate is by the end of 2021.

And existing tools like Liquibase, Flyway are solving the similar issue, while we still consider Bytebase is quite different from those tools as we are providing a migration core like what Liquibase / Flyway does, as well as a workspace for developer and DBA to collaborate.

[2021-07-27 11:13] tianzhou opened #8 "[NOTICE] Issues are reserved for Bugs and Feature Requests ONLY"
Please use Bug / Feature Request template to report new issues.

For other topics, please visit [discussions](https://github.com/bytebase/bytebase/discussions)

[2021-07-27 11:15] #7 closed

[2021-07-29 11:00] #8 closed

[2021-07-30 11:51] tianzhou opened #11 "Unnecessary text explaining the project migration history maximum display count when there is no migration history at all"
**Describe the bug**

Unnecessary text explaining the project migration history maximum display count when there is no migration history at all.

**Steps or screenshots to reproduce the behavior**
1. Go to a project where none of its database contain migration history (e.g. a new project), and click "Migration History"
2. It displays a label "For database having migration history, we list up to 5

[2021-08-01 21:40] Sintay1994 commented on #11
KKK

[2021-08-02 03:20] zhj-hx opened #13 "Failed to create environment"
create environment error

info: Failed to create environment
![截屏2021-08-02 上午11 20 13](https://user-images.githubusercontent.com/81075106/127800174-75f63940-c219-41ac-8a94-586bf7e6fd80.png)

[2021-08-02 03:41] tianzhou commented on #13
@zhj-hx could you please describe the reproduce step? I tried a brand new installation, but couldn't reproduce it.

Also, are you able to create other resources like instance, issues?

[2021-08-02 07:21] Slach opened #14 "Support ClickHouse database"
**Is your feature request related to a problem? Please describe.**
Currently, we use CLI https://github.com/golang-migrate/migrate for clickhouse migration, sometimes we need UI based solution for database schema migration, I would like `bytebase` will support ClickHouse as a first-class citizen database

** Additional context **
Look to https://clickhouse.tech/docs/en/ ClickHouse is a blazing fas

[2021-08-02 07:29] tianzhou commented on #14
I wish Bytebase will support this in the future (and internally our design does leave the space to support non-RDBMS systems).

But just be honest, our 1st priority is to have a rock solid support for MySQL, then we will probably add PostgreSQL. And then we will consider supporting ClickHouse as well as other systems.

[2021-08-02 07:43] zhj-hx commented on #13
https://github.com/bytebase/bytebase#run-on-localhost8080
I found that this phenomenon occurs when I install bytebase in my mac, the installation on centos7 is correct。my mac version is Catalina 10.15.7, I don't know if it is related to the system。

[2021-08-02 07:46] zhj-hx commented on #13
Another question, how to manage instance, database,project，how to delete custom objects

[2021-08-02 08:06] tianzhou commented on #13
Our doc doesn't specifically address this, but I would recommend you to read the data model first https://docs.bytebase.com/concepts/data-model. If you still have trouble using Bytebase, then it's probably a failure in our UX since we want the product to be self-explained...  And please feel to reply with the specific task you have trouble to complete.

Bytebase doesn't support deleting objects. I

[2021-08-02 08:34] tianzhou commented on #13
What if you run with --debug mode and see if it emits some clue?

[2021-08-02 09:19] zhj-hx commented on #13
@tianzhou debug mode
log:
{"time":"2021-08-02T09:18:24Z","method":"POST","uri":"/api/environment","status":500,"error":"code=500, message=Failed to create environment, internal=sql: Rows are closed"}

[2021-08-02 09:25] zhj-hx opened #15 "Sync schema error Unknown column 'EXPRESSION' in 'field list'"
I create a instance and sync this instance's database schema failed.

info:
Failed to sync schema for instance 'stg'.
Error 1054: Unknown column 'EXPRESSION' in 'field list'
@tianzhou

[2021-08-02 09:28] zhj-hx opened #16 "Internal error occured"
No matter which one you click, an error will be reported, and if it is correct, the correct information will be delayed

Internal error occured

[2021-08-02 09:46] zhj-hx opened #17 "Support rollback of SQL schema change"
Can you provide a function for backup of sql change?

This is very necessary for production environment.

[2021-08-02 10:48] tianzhou commented on #17
Do you mean to (1) only backup the schema or (2) the data as well as the schema (like mysqldump) ?

[2021-08-02 14:34] tianzhou commented on #15
What's the MySQL version are you using?

We need the schema info to narrow down the cause. Could you use "mysqldump --no-data" to dump the schema?

[2021-08-02 14:38] tianzhou commented on #16
We need a reproduce steps to narrow down the cause. This report seems to suggest the application is not functioning at all, while I see you open other issues indicating at least some part is at least working. So I am a bit puzzled.

[2021-08-03 03:20] zhj-hx commented on #17
I have added an instance, but I do not see the database information on the instance.If I add a database, I will be prompted that the database already exists.

[2021-08-03 07:03] tianzhou commented on #17
Sorry, I am a bit lost here as I couldn't see how it's related to the original "backup of sql change" question. Could you please elaborate a bit more?

[2021-08-03 07:06] tianzhou commented on #13
Seems like a bug on our end, however, we have trouble to reproduce this and if possible could you email us at support@bytebase.com. We will follow up with you offline with this issue as well as several others you raised. Thanks.

[2021-08-03 07:56] zhj-hx commented on #17
sorry,I confused the two issues. This issue wants to know how to facilitate rollback after database changes

[2021-08-03 08:40] tianzhou commented on #17
Do you mean to rollback the schema change like specifying a down "script" as opposed to "up" statement similar to ruby migration? https://edgeguides.rubyonrails.org/active_record_migrations.html ?

If that's the case, we are planning to add this in couple weeks. Stay tuned.

[2021-08-03 09:31] zhj-hx commented on #15
mysql5.6, I have added an instance, but I do not see the database information on the instance.If I add a database, I will be prompted that the database already exists.

[2021-08-09 09:56] tianzhou commented on #15
Confirmed it's because we are using some statements only exists in MySQL 8 when syncing the schema. Expect to fix it in the next release (in a week)

[2021-08-09 12:48] tianzhou commented on #15
Fixed in a72744e

[2021-08-19 07:53] tianzhou commented on #15
Released in https://github.com/bytebase/bytebase/releases/tag/0.4.0

[2021-08-19 07:53] #15 closed

[2021-08-19 09:10] tianzhou commented on #16
Based on the limited info. We can only guess this is due to the incompatible schema change we made recently during the upgrade. You may choose to remove the existing data or point [--data ](https://docs.bytebase.com/reference/command-line#data-less-than-less-than-directory-greater-than-greater-than) to an empty directory to see if the issue persists.

Close it for now, feel free to reopen if the i

[2021-08-19 09:10] #16 closed

[2021-09-03 04:05] tianzhou commented on #17
b124888c851b6aa4a335febc96050a6d9bb48628

Released in 0.4.1 https://github.com/bytebase/bytebase/releases/tag/0.4.1

[2021-09-03 04:05] #17 closed

[2021-09-07 10:46] chenliang opened #21 "instance sync database fail"
**Provide the MySQL version you are using (if related with instance/database operation)**
5.7.34
**Provide the Bytebase version you are using**
0.4.1
The version info is shown on the bottom left of the console.

**Describe the bug**
instance sync database fail
**Additional context**
1. Type conversion error.
2. Database exists view.   CREATE_TIME IS NULL
fix bug

![image](https://user-images.githu

[2021-09-07 10:48] chenliang opened #22 "add ldap login"
Want to add ldap login.

[2021-09-08 05:57] tianzhou commented on #21
Thanks for the detailed report. Confirmed the bug, will publish a fix ASAP.

[2021-09-08 06:00] tianzhou commented on #22
Noted, we do plan to add LDAP/SSO/SAML later, but it will probably take another couple months after we finish other important features (e.g. adding PostgreSQL support)

[2021-09-08 06:37] tianzhou commented on #21
Fixed in 20468eb4b061c567c525ec3e24142964421b7de6. Will cut a new release today or tomorrow.

[2021-09-09 06:22] tianzhou commented on #21
The fix is included in the 0.5.0 release. https://github.com/bytebase/bytebase/releases/tag/0.5.0

Thanks again for the report.

[2021-09-09 06:22] #21 closed

[2021-09-09 14:12] tianzhou commented on #13
@zhj-hx we still have trouble reproducing it. Do you still encounter the issue with the latest 0.5.0 version?

[2021-09-10 12:05] roseduan opened #23 "any plan to support sql optimizer?"
For a DBA or developer, sql optimizer may be a very helpful feature.
XiaoMi/soar seems like a good choice: https://github.com/XiaoMi/soar

[2021-09-10 16:08] tianzhou commented on #23
Yes, it's on our roadmap to support this under the plugin architecture. But it will take a while to reach to that point.

[2021-09-14 09:38] tianzhou commented on #13
Close it for now. Feel free to re-open if you can still reproduce in the latest release.

[2021-09-14 09:38] #13 closed

[2021-09-18 12:12] tianzhou commented on #23
Though not quite here yet, we have laid down the foundation to support sql optimizer in 0.6.0 https://github.com/bytebase/bytebase/releases/tag/0.6.0

We have implemented the syntax check and db connection check in 0.6.0.  Syntax check is implemented as sql advisor plugin https://github.com/bytebase/bytebase/tree/main/plugin/advisor.  We will build upon this work to implement a more intelligent sq

[2021-10-11 14:26] zidingz opened #26 "Trying to get in touch regarding a security issue"
Hey there!

I belong to an open source security research community, and a member (@0xamal) has found an issue, but doesn’t know the best way to disclose it.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best practice

[2021-10-11 18:08] #26 closed, assigned to nobody

[2021-10-12 08:38] siu91 opened #27 "Add Gitlab OAuth login"
We already have a privatized gitlab service, and there is already a user account.

[2021-10-12 08:43] siu91 opened #28 "[Question] Where can I see the introduction of ByteBase architecture design documents and code development?"
Where can I see the introduction of ByteBase architecture design documents and code development?

[2021-10-12 08:53] siu91 commented on #27
When a new member joins, the manager will assign a gitlab account. Our Jenkins will connect to Gitlab OAuth through Gitlab-application.

[2021-10-12 08:53] #28 closed, assigned to nobody

[2021-10-12 08:53] siu91 commented on #27
When a new member joins, the manager will assign a gitlab account. Our Jenkins will connect to Gitlab OAuth through Gitlab-application.

[2021-10-23 03:48] RainbowDashy opened #29 "Tip appears at wrong position at projects overview panel in demo"
**Describe the bug**

See the screenshots.

**Steps or screenshots to reproduce the behavior**

1. Go to projects-Blog(Git)-overview
2. Scroll down to the bottom.

![批注 2021-10-23 114234](https://user-images.githubusercontent.com/12679343/138541187-ca0491d0-171b-4e9e-ae74-f2bdf4b9ed7c.png)

**Expected behavior**

Tip should position at somewhere near the element.

![批注 2021-10-23 113948](https://u

[2021-10-26 13:36] lantier opened #30 "Problem syncing RDS instances because rdsadmin private database"
**Provide the Bytebase version you are using**
0.7.2

**Describe the bug**

Using PostgreSQL in a AWS RDS managed environment we can't properly sync existent databases because bytebase try to sync with a private database.

![image](https://user-images.githubusercontent.com/13722326/138888858-a508765d-aae4-468d-a39c-f755484de2f8.png)

1. Create a project
2. Create a environment
4. Create a instance

[2021-10-30 15:13] bralbral opened #31 "0.72 version docker 401 error"
Hey! after running on admin create page I get the following error after press "Create admin account":
![image](https://user-images.githubusercontent.com/54455457/139539009-46c26ec9-d3d2-49fb-a937-8f4aedef0ba0.png)
Log:
![image](https://user-images.githubusercontent.com/54455457/139539024-a3a25a80-cda7-4992-807b-804b799ea409.png)

OS: windows10
Browser: GoogleChrome 95.0.4638.69

[code]
Full log:

[2021-10-31 16:13] tianzhou commented on #31
Hi @bralbral,

I tried briefly to use the docker run directly and was not able to reproduce this

Could you please follow this to just use docker run and see if you encounter the error?

https://docs.bytebase.com/install/docker#run-on-localhost-8080

Also did you see anything from the cookie?

<img width="829" alt="CleanShot 2021-11-01 at 00 12 22@2x" src="https://user-images.githubusercontent.com

[2021-11-02 15:28] bralbral commented on #31
Hi @tianzhou ! thanks you for response !
It works fine with this command.
`docker run --init --name bytebase --restart always --add-host host.docker.internal:host-gateway --publish 8080:8080 --volume ~/.bytebase/data:/var/opt/bytebase bytebase/bytebase:0.7.2 --data /var/opt/bytebase --host http://localhost --port 8080`

I guess error was in this `--host http://192.168.0.105` option.

[2021-11-03 09:08] tianzhou commented on #31
The host field shouldn't matter though as it's not used in the auth.

This is the command I tried and it seems to work fine.

docker run --init --name bytebase --restart always --add-host host.docker.internal:host-gateway --publish 8080:8080 --volume ~/.bytebase/data:/var/opt/bytebase bytebase/bytebase:0.7.2 --data /var/opt/bytebase --host http://192.168.0.105 --port 8080

Could you please paste t

[2021-11-03 17:21] bralbral commented on #31
i just added `--debug` option and output is:

Microsoft Windows [Version 10.0.19043.1288]
(c) Корпорация Майкрософт (Microsoft Corporation). Все права защищены.

C:\Users\vasya>docker rm -f bytebase
bytebase

[code]

ipconfig output:

Адаптер Ethernet vEthernet (Создать виртуальный коммутатор):

[code]

[2021-11-04 07:29] tianzhou commented on #31
What if you reset the data by `rm -rf ~/.bytebase/data`

And then run that command again.

From the log:

{"time":"2021-11-03T17:19:40Z","method":"POST","uri":"/api/auth/signup","status":409,"error":"code=409, message=Email already exists: bbralyc@gmail.com"}
{"time":"2021-11-03T17:19:55Z","method":"POST","uri":"/api/auth/signup","status":200,"error":""}
{"time":"2021-11-03T17:19:55Z","method":"GE

[2021-11-04 17:39] bralbral commented on #31
I reseted data in ./bytebase , and recreated container.

If i use localhost:8080 - it is okay:
![image](https://user-images.githubusercontent.com/54455457/140390666-173d36e5-e8cc-4e22-949c-011bd9e558b8.png)

If i use ip from config:

![image](https://user-images.githubusercontent.com/54455457/140390741-0316a027-416a-4c4d-838b-40c1d16a5995.png)

Log:
[code]

[2021-11-08 09:09] #30 closed

[2021-11-10 17:01] #31 closed

[2021-11-10 17:28] tianzhou commented on #30
The new 0.8.0 release should fix this. Please check the release notes https://github.com/bytebase/bytebase/releases/tag/0.8.0

[2021-11-13 18:20] bralbral opened #35 "Support MSSQL database"
Do you have any plans to support MSSQL database?

[2021-11-14 07:32] tianzhou commented on #35
Hey @bralbral, we have to disappoint you here since MSSQL (as well as Oracle) is not on our roadmap since they both have decent tooling support. For Bytebase, we want to focus on those popular database systems lacking the equivalent tooling support seen in those commercial databases.

Thanks for asking anyway. Feel free to open other issues if needed.

[2021-11-14 07:32] #35 closed

[2021-11-18 06:39] RainbowDashy opened #37 "Missing or wrong background for the selected tabs when adding a new webhook"
**Describe the bug**

Missing or wrong background for the selected tabs when adding a new webhook

**Steps or screenshots to reproduce the behavior**

1. Go to projects, blogs.
2. Select webhooks tab.

![image](https://user-images.githubusercontent.com/12679343/142364282-8dddfd98-dfcc-4eea-8944-9db80d2417c1.png)
3. Add a new webhook
4. See error

![image](https://user-images.githubusercontent.com/

[2021-11-19 07:42] heqingy opened #40 "Support for customized migration methods"
**Is your feature request related to a problem? Please describe.**

Currently, Bytebase directly runs DDL to apply the schema change. However, this is risky for large tables due to the lock contention and intensive disk I/O etc.

For some large tables, the migration is usually done online with some 3rd party tools like PT-OSC to minimize the performance impact, and this is not supported yet.

**De

[2021-11-19 08:29] tianzhou commented on #40
Thanks for opening the issue and even pointing the exact place!

This is a good one. Hopefully, we can deliver it soon.

[2021-11-20 16:20] tianzhou opened #45 "error massage: pq: CREATE DATABASE cannot run inside a transaction block"
### Discussed in https://github.com/bytebase/bytebase/discussions/44

<div type='discussions-op-text'>

<sup>Originally posted by **Shlpeng** November 20, 2021</sup>
**error massage**: pq: CREATE DATABASE cannot run inside a transaction block

**sql is** : CREATE DATABASE "pg1120" ENCODING "UTF8"

**bytebase env** : docker run --init --name bytebase --restart always --publish 8080:8080 --volume ~/

[2021-11-22 08:25] #29 closed

[2021-11-22 08:26] #37 closed

[2021-11-23 13:17] suzaku opened #53 "Failed to start project with air"
**Provide the Bytebase version you are using**

`e6ccec44`

**Describe the bug**

Following the instructions on README, I ran `air -c scripts/.air.toml` to start the server.
But it failed with the following output:

[code]

At first, I guessed it might be a bug of `air`. So I pulled the source code of `air` and started a debugger in GoLand to see what was happening under the hood.
It turned out th

[2021-11-23 13:18] suzaku commented on #53
<img width="1284" alt="Screen Shot 2021-11-23 at 9 18 14 PM" src="https://user-images.githubusercontent.com/116473/143031100-5d9aedd0-c370-4f9c-8f19-95c5e89ecdf7.png">

[2021-11-23 13:19] suzaku commented on #53
Everything's fine if I just run `air` inside GoLand ...

[2021-11-23 13:20] suzaku commented on #53
Version of `air`: 13fccd5

[2021-11-23 13:45] suzaku commented on #53
This is caused by the tight limit on the number of file descriptors on macOS.
A similar issue was https://github.com/fsnotify/fsnotify/issues/129, but the error I encountered had a more misleading error message: `bad file descriptor`.
The solution was documented here: https://gist.github.com/tombigel/d503800a282fcadbee14b537735d202c

I still don't know why it work on GoLand, maybe the IDE has some

[2021-11-23 13:45] #53 closed

[2021-11-23 14:24] tianzhou commented on #53
Thanks for trying Bytebase and even self-troubleshooting the issue and providing the solution. FWIW, we did actually hit this problem before even in VCCode.

[2021-11-24 07:37] LiuJi-Jim opened #56 "Click on database name raises an "Internal Error"."
**Describe the bug**

Click on database name raises an "Internal Error".

![image](https://user-images.githubusercontent.com/2749742/143194283-d3282a24-4dd3-4316-8084-0b0a40e87b50.png)

1. Open the demo.
2. Go to any Issue detail (e.g. 'Hello World!').
2. Click on database name (e.g. 'testdb_prod') on the right side panel.
4. See error

**Expected behavior**

Navigate to the database detail view m

[2021-11-24 08:24] LiuJi-Jim commented on #56
Relevent code is in `IssueSidebar.vue`

[2021-11-24 10:41] #56 closed

[2021-11-24 10:42] tianzhou commented on #56
Thanks for the fix @suzaku !

[2021-11-24 10:45] tianzhou commented on #56
Looks like it's introduced in https://github.com/bytebase/bytebase/commit/189d9fcb1641906a1d0c0ac18b5b65da46ab3f32 where we pass the instance to IssueSidebar instead of deriving it directly inside IssueSidebar. And we forgot to change the reference. cc @zhouzilong2020

[2021-11-27 08:53] sunl888 opened #71 "Are there plans to support internationalization?"
Does it support internationalization?

[2021-11-27 09:30] tianzhou commented on #71
@yaohui-wyh is leading the effort. Will let him give you the detailed update.

[2021-11-28 06:54] suzaku opened #73 "Supporting new driver: Databend"
[Databend](https://github.com/datafuselabs/databend) is promising serverless data warehouse that can be connected to as a `clickhouse` or `mysql` server.

It should not be very hard to add the integration.

I've tried it out with the existing `clickhouse.Driver` but it doesn't work now. I have filed an [issue](https://github.com/datafuselabs/databend/issues/3138) for the databend project.

[2021-11-28 07:15] tianzhou commented on #73
@suzaku Thanks for opening the issue. However, we are likely to disappoint you this time (at least for the moment) since supporting Databend is not on our near-term roadmap.

Our near-term focus is to support/improve the existing integration (mysql, postgres, tidb, clickhouse, snowflake) and the only extra database we are considering is sqlite.

Saying that, we will keep an eye on Databend and rev

[2021-11-28 09:08] suzaku commented on #73
OK. I guess users will be able connect to Databend just by using the Clickhouse driver once the bug is fixed.

[2021-11-28 09:08] #73 closed

[2021-11-29 01:16] xiaoluoboding commented on #71
@sunl888 We are working on it.

[2021-12-02 14:30] tianzhou commented on #40
@heqingy since the large table DDL will take a long time. How do you track the progress currently? And what kind of interface do you expect from us to track those progress.

[2021-12-02 17:00] linucksrox opened #101 "Error status code 422 trying to integrate version control with project"
**Provide the MySQL version you are using (if related with instance/database operation)**
MariaDB 10.6.4

**Provide the Bytebase version you are using**
0.8.1

**Describe the bug**
After adding a project, database, initial migration schema, and Git provider (self hosted gitlab instance), I attempted to integrate my project with Gitlab. At the final step where you click Finish it gives me an error

[2021-12-02 17:07] tianzhou commented on #101
Thanks for the report, we will take a look and follow up soon.

[2021-12-03 03:10] tianzhou commented on #101
Unable to reproduce for now.

@linucksrox could you please provide your GitLab version?

Also could you please paste the message on the console after supplying the --debug option on startup https://docs.bytebase.com/reference/command-line#debug

[2021-12-03 06:44] suzaku commented on #101
@linucksrox  You may want to take a look at this [document](https://docs.gitlab.com/ee/security/webhooks.html).

If it's the case for you, you can solve this problem by changing this behavior on GitLab Settings.

[2021-12-03 14:23] linucksrox commented on #101
I tried again after enabling debug mode, and the output was this:
`bytebase_bytebase.1.taax3az06lfg@docker181    | {"time":"2021-12-03T14:11:42Z","method":"POST","uri":"/api/project/101/repository","status":500,"error":"code=500, message=Failed to create webhook for project ID: 101, status code: 422"}`

Thank you for pointing me in the right direction with the Gitlab webhook settings! I was able t

[2021-12-03 15:46] linucksrox opened #108 "Schema update in VCS doesn't trigger Bytebase to apply the change"
**Provide the MySQL version you are using (if related with instance/database operation)**
MySQL 5.6.30

**Provide the GitLab version you are using (if related with VCS integration)**
14.5.0

**Provide the Bytebase version you are using**
0.8.1

**Describe the bug**
After integrating with self hosted Gitlab, I set the file path template and schema path template, then committed a schema update to th

[2021-12-03 15:51] tianzhou commented on #108
Thanks for reporting the issue. The relevant doc is at https://docs.bytebase.com/use-bytebase/vcs-integration/organize-repository-files, but it can be definitely improved.

Yes, it's the GitLab sends a webhook request to Bytebase upon push event.  One thing to check is to visit your GitLab project webhook page. GitLab will list the recent webhook invocation there.

Also if Bytebase observes the we

[2021-12-03 15:53] tianzhou commented on #108
Oh, one thing to note, we also mentioned in the troubleshoot guide https://docs.bytebase.com/use-bytebase/vcs-integration/troubleshoot

[2021-12-03 16:01] tianzhou commented on #101
Thanks @suzaku to point out the right direction. Add this to the troubleshoot guide https://docs.bytebase.com/use-bytebase/vcs-integration/troubleshoot#failed-to-create-webhook-xxx-status-code-422-for-gitlab

[2021-12-03 16:02] tianzhou commented on #101
Reopen this as we should also mention this directly in the product. Having Bytebase and GitLab in the same private network is a very likely setup.

[2021-12-03 18:37] linucksrox commented on #108
Thank you! I'm new to webhooks so I wasn't sure where to look.

The webhook in Gitlab sure enough was pointing to http://localhost:80/ but should have been https://bytebase.example.com. What I find interesting is that Bytebase knew the correct URL to use when setting up Gitlab integration originally for the callback URL, so I don't understand why it didn't use the same URL to set the project hook

[2021-12-03 19:33] linucksrox commented on #108
I just pushed a schema update, which triggered a new issue in Bytebase (🎉), but got an error for both Compatibility and Syntax. The error is the same for both: `{"error":"invalid_token","error_description":"Token is expired. You can either do re-authorization or token refresh."}`

From those two errors, the Syntax section is the only one that provides a link to the documentation regarding error me

[2021-12-03 20:00] linucksrox commented on #108
I just tried running via Docker and changing the --host and --port. When I change the host here, I can no longer access Bytebase through the reverse proxy (Traefik in my case). I'm still under the impression that Bytebase should use the known frontend hostname to set the Gitlab webhook and not use the bytebase command arguments.

I can get around this by manually editing the Gitlab webhook after i

[2021-12-03 22:35] suzaku commented on #101
Yes, I think the error message should mention this. I can help with this.

[2021-12-04 02:12] tianzhou commented on #108
"Token is expired. You can either do re-authorization or token refresh"  this seems to come from GitLab. But it's still a bit weird. This is how the setup works under the hood:

1. When user tries to setup the version control workflow, bytebase requires user to login the GitLab via oauth.

2. After user finishes the oauth workflow, bytebase will retrieve the user's access_token

3. When Bytebase o

[2021-12-04 02:21] tianzhou commented on #108
We ask user to provide the --host, --port because from Bytebase POV, it can't determine how the external service like GitLab accesses it (e.g. via a reverse proxy) in order to push the webhook event, so it has to be told.

One improvement I can think of is to surface what's the host:port that the GitLab pushes the webhook event in the project VCS workflow setup.

[2021-12-04 02:27] tianzhou commented on #101
@suzaku I am also thinking to include a note around here https://github.com/bytebase/bytebase/blob/main/frontend/src/components/RepositorySetupWizard.vue#L4

This message stays on the top during the entire VCS setup process.

[2021-12-04 02:30] suzaku commented on #101
I have something different in mind.
We should avoid overburden users with information in the happy-path UI, instead, we can show the tips in the error prompt when we know it's most useful the the user.

[2021-12-04 02:32] tianzhou commented on #101
SGTM. BTW, if you also want to improve the backend error message. The code is around here https://github.com/bytebase/bytebase/blob/main/server/project.go#L191-L192

[2021-12-04 02:33] suzaku commented on #101
:) I know, already testing the change in my environment. The frontend environment seems to be broken, PTAL at #109

[2021-12-04 02:36] suzaku commented on #101
@tianzhou Please assign this issue to me to avoid duplicate works on it.

[2021-12-04 08:52] #101 closed

[2021-12-06 20:19] linucksrox commented on #108
As of Gitlab 14.3, they expire access tokens after 2 hours by default which explains why my tokens keep expiring. Their documentation mentions "All integrations should update to support access token refresh."
https://docs.gitlab.com/ee/integration/oauth_provider.html#expiring-access-tokens

For now I'll add a config so that access tokens don't expire as Bytebase is the only integration I'm using a

[2021-12-06 21:40] linucksrox opened #123 "Schema drift detection seems incorrect"
**Provide the MySQL version you are using (if related with instance/database operation)**
MySQL 5.6.30

**Provide the GitLab version you are using (if related with VCS integration)**
14.5.1

**Provide the Bytebase version you are using**
0.8.1

**Describe the bug**
Schema drift detected, but actual schema has not changed. Most notably, there are two things it keeps telling me are different:
1. I h

[2021-12-07 01:37] tianzhou commented on #108
@linucksrox we do store the refresh token, which we can use to retrieve the new access token upon expiration. Will work on a fix.

[2021-12-07 15:36] linucksrox commented on #108
@tianzhou I really appreciate you and the team helping me through issues I'm running into even though admittedly some of them are due to my own lack of understanding!

[2021-12-07 16:03] tianzhou commented on #123
I will take a look. Thanks for reporting.

[2021-12-08 13:54] zhouzilong2020 opened #137 "frontend will not reroute to the login page or prompt anything when the tocken is expired"
**Describe the bug**

The backend clearly states that the token has expired, but the frontend can still router to every page normally.

**Steps or screenshots to reproduce the behavior**

1. initiate frontend and backend
1. shut down backend and restart
1. randomly click some button, the backend would prompt : `401:Invalid or expired access token, internal=signature is invalid` while the frontend

[2021-12-09 08:59] suzaku commented on #137
Have you waited for at least 30 seconds?

[2021-12-09 09:07] LiuJi-Jim commented on #137
We have a global interceptor to handle HTTP 401 in `main.ts`. But it seems something goes wrong here?

[2021-12-09 09:48] #137 closed

[2021-12-13 16:46] linucksrox opened #162 "Instance broken after upgrade to 0.9.0"
**Provide the Bytebase version you are using**
0.9.0

**Describe the bug**
After migrating from 0.8.1 to 0.9.0, I'm seeing errors in the bottom right corner:

- failed to fetch project list
- failed to fetch database list

I enabled debugging and see this in the output:

[code]

**Additional context**
I don't see anything about a tenant in the documentation, in the bytebase migration_history schem

[2021-12-14 01:41] tianzhou commented on #162
@linucksrox hi, Bytebase is still in alpha, and we are making some breaking schema change during the upgrade. The quickest way is to reset the data file stored under the [--data directory](https://docs.bytebase.com/reference/command-line#data-less-than-less-than-directory-greater-than-greater-than).  Just remove the bytebase.db, bytebase.db-shm, bytebase.db-wal and restart bytebase. If you would l

[2021-12-14 01:59] linucksrox commented on #162
Great, I don't have any production data so I will just reset as you suggested! Thanks!

[2021-12-15 03:21] tianzhou commented on #162
Cool. Happy to help.

[2021-12-15 03:21] #162 closed

[2021-12-15 09:39] night2049 opened #175 "mysql8 .0 OVER() function not support"
`SELECT
	row_number() OVER ( ORDER BY id ),
	id
FROM
	xxx;
`

Compatibility and Syntax tips: "Syntax error"

[2021-12-15 09:45] #108 closed

[2021-12-15 11:19] tianzhou commented on #175
Looks like we are using an old pingcap/parser version.  github.com/pingcap/parser v0.0.0-20200623164729-3a18f1e5dceb

Upgrading to a new version including https://github.com/pingcap/parser/issues/959 should fix this.

Will try to upgrade.

[2021-12-16 11:02] tianzhou commented on #175
The only newer release is https://github.com/pingcap/parser/releases/tag/v5.2.0-alpha. Though it's alpha, we just use it for syntax check and can take a try.

Hopefully we just need to update the github.com/pingcap/parser dependency in our go.mod file

[2021-12-16 20:36] linucksrox commented on #123
@spinningbot thanks for the info. I'm starting fresh with Bytebase 0.9.0 and just did a baseline migration from my current schema. I will report back if it detects any anomalies and we can go from there.

Regarding AUTO_INCREMENT, I don't mean the data values associated with that. What I mean is the default AUTO_INCREMENT value. For example, from the base migration I see a CREATE TABLE statement t

[2021-12-17 05:49] #123 closed

[2021-12-17 15:14] linucksrox commented on #123
@spinningbot Thanks for the fixes. I manually changed from TEXT to MEDIUMTEXT in the bytebase table and tested from the main branch and this is working perfectly for me now.

[2021-12-20 07:11] xiaods opened #202 "pq: CREATE DATABASE cannot run inside a transaction block"
**Provide the MySQL version you are using (if related with instance/database operation)**
postgres 12.6

**Provide the GitLab version you are using (if related with VCS integration)**

**Provide the Bytebase version you are using**
v0.9.0 use docker run

The version info is shown on the bottom left of the console.

**Describe the bug**

A clear and concise description of what the bug is.

**Steps

[2021-12-21 01:46] #45 closed

[2021-12-21 01:46] #202 closed

[2021-12-21 03:19] zhouzilong2020 opened #215 "Can NOT create any schema update issue"
**Describe the bug**

Can not create any schema update issue

**Steps or screenshots to reproduce the behavior**

fail to create an schema update issue

**Additional context**

It seems to caused by this PR #205

[2021-12-21 03:20] zhouzilong2020 commented on #215
I am working on this

[2021-12-21 04:36] #215 closed

[2021-12-21 10:26] solak647 opened #225 "Adding bitbucket support"
Is bitbucket will be added after gitlab / github? Any roadmap for that?

[2021-12-21 10:33] tianzhou commented on #225
Thanks for asking. Bitbucket will likely be the one we add after GitLab / GitHub. However, that may take a while, since GitLab / GitHub each has on-premises and cloud version and we just finished 1/4 (GitLab on-premises).

[2021-12-21 10:46] solak647 commented on #225
Thank you for your answer. When I have a bit more time, I will help contribute on that.

[2021-12-27 10:48] yubobo opened #262 "Add schema design capability"
希望可以加入数据库schema设计能力。
现在基于团队的数据库schema管理和设计是个痛点。
目前的在线数据库schema设计工具不少，团队所有成员可以参与到数据库的schema设计中来，他们大部分都是收费的；但是它们更像是一个画图软件，并没有数据库schema变更管理能力。
我们这个系统提供了数据库schema变更管理能力，但是却没有schema设计能力，是比较遗憾的。

[2021-12-27 10:51] tianzhou commented on #262
Hi @yubobo, thanks for opening the feature request. It's a reasonable ask and we will consider it.

FWIW, to make the FR more useful to other GitHub users, please use English if possible

[2021-12-28 05:56] xiaods commented on #262
@yubobo you can use DeepL to translate your stensments.

[2021-12-29 04:55] konnectr opened #275 "Clickhouse connection problems"
**Clickhouse 21.11.6.7**
**Bytebass 0.10.0 (docker)**

**Describe the bug**
Trying to connect Clickhouse

When trying to connect a clickhouse server
An error of this type appears, failed to connect "172.17.0.2" for user "bytebase", could not load time location: unknown time zone Etc / UTC
Clickhouse has default settings

[2021-12-29 05:01] tianzhou commented on #275
Some quick search yields maybe something around the underlying clickhouse go driver and the client timezone setting

https://github.com/ClickHouse/ClickHouse/issues/6608#issuecomment-523910418

https://github.com/ClickHouse/clickhouse-go/issues/162

[2021-12-29 05:03] tianzhou commented on #275
@konnectr maybe try to follow https://github.com/ClickHouse/ClickHouse/issues/6608#issuecomment-523910418 to fix the issue?

[2021-12-29 05:16] konnectr commented on #275
This is the standard clickhouse setting. And most likely all users who have not changed TZ will be confused with this. I have tested many systems that are related to clickhouse, and this is the only one in which this error occurred.

[2021-12-29 05:19] tianzhou commented on #275
@konnectr understood. What's the OS environment running the ClickHouse ?

[2021-12-29 05:26] konnectr commented on #275
@tianzhou docker yandex/clickhouse-server

[2022-01-05 01:57] charnet1019 opened #326 "Is it possible to provide user login logs and operation logs, which will be used during auditing"
Is it possible to provide user login logs and operation logs, which will be used during auditing

[2022-01-05 02:16] #326 closed

[2022-01-05 02:16] charnet1019 commented on #326
Paid version already supported

[2022-01-07 02:28] yidoa opened #336 "Reporting error when deploying 0.11.0"
场景：目前 机器上有再运行的mysql instance  docker安装0.10.0版本的时候 没有相关报错
ERROR	server/anomaly_scanner.go:131	Failed to retrieve database list	{"instance": "MySQL Prod (Follow the \"External Link\" field to bring up the MySQL server)", "error": "no such column: schema_version"}

[2022-01-07 02:40] tianzhou commented on #336
@yidoa looks like you once used an older version of Bytebase and we have upgraded the schema, so the new version is not compatible with the old schema.

If you don't need to retain the existing data. You can just reset the schema by removing the existing data.

Say you are using the following command to start Bytebase:

$ docker run --init --name bytebase --restart always --add-host host.docker.in

[2022-01-07 07:25] TBACEJ opened #337 "Support DML review workflow"
bytebase 之后是否会考虑支持dml申请执行流程。

除了聚焦schema变更管理，dml执行流程也是日常工作的重点。如果ddl和dml需要两个不同的平台会比较麻烦~

[2022-01-07 07:30] tianzhou commented on #337
@TBACEJ Support DML specific features is on our roadmap.

Saying that, there is nothing that prevents you from using the current Bytebase to do DML review. Just put the DML statement in the statement field by launching an ALTER SCHEMA task.

[2022-01-09 03:49] liujiajun opened #341 "Improve language in docs & product"
I love the product. However, the language in docs & product is sometimes awkward and/or contains grammar mistakes. While it does not affect understanding, I believe it is something that can be improved upon.

Some examples are:

- It is not clear to me why three tenses are used here ("bookkeeping", "scan", & "detects")
<img width="1229" alt="Screen Shot 2022-01-09 at 11 35 21 AM" src="https://user

[2022-01-09 04:45] tianzhou commented on #341
Thanks for raising this. The first problem is an unfortunate, we just updated the website.

This was intended,  another way to write is "The Bytebase project concept is similar to the project concept in other common dev tools." However, that is less terse.

We are always aspiring to great technical writing.

For Bytebase, we just started to build the technical writing guideline (we did include [Ap

[2022-01-10 03:23] xiaods opened #343 "can't support create database for pg12.06"
**Provide the MySQL version you are using (if related with instance/database operation)**

**Provide the GitLab version you are using (if related with VCS integration)**

**Provide the Bytebase version you are using**

The version info is shown on the bottom left of the console.

**Describe the bug**

A clear and concise description of what the bug is.

**Steps or screenshots to reproduce the beha

[2022-01-10 05:13] xiaods commented on #343
thanks for your patch

[2022-01-10 09:20] xiaods commented on #343
I use a normal user without superuser permission. let me double check it.

[2022-01-10 09:44] yidoa opened #345 "Failed to create table in mysql 5.7"
failed to get tables of database "test-123": getTableStmt("test-123", "a", "BASE TABLE") got error: Error 1064: You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '-123.a' at line 1
CREATE TABLE `a` (
  `id` mediumint(9) DEFAULT NULL,
  `accountId` varchar(64) DEFAULT NULL,
  `roleId` int(11) DEFAULT NULL,
  `roleNa

[2022-01-10 09:58] #343 closed

[2022-01-10 10:03] xiaods opened #346 "can't create dml sql on sql editor"
**Provide the MySQL version you are using (if related with instance/database operation)**
PostgreSQL 12.06

**Provide the GitLab version you are using (if related with VCS integration)**

**Provide the Bytebase version you are using**
0.11.0

The version info is shown on the bottom left of the console.

**Describe the bug**

create a PostgreSQL instance, and correctly connect to pg with superuser

[2022-01-10 10:18] xiaods commented on #346
![Image_20220110181808](https://user-images.githubusercontent.com/37678/148749868-39e1ed9c-90fd-4ff6-88fa-f3b3512bd9ae.png)

[2022-01-10 10:21] xiaoluoboding commented on #346
@xiaods It's a bug when validating the SQL statement. you can remove the semicolon and try again.
BTW, the SQL Editor only allows `SELECT` query. We will fix this bug.

[2022-01-10 10:29] yidoa opened #348 "Fails to run EXPLAIN query in SQL editor: Please check if the statement is correct"
数据库版本：MySQL57
平台版本:v0.11.0
部署方式：二进制部署
操作：
 在 SQL editor 里面：
explain select * from abc;
报错：Please check if the statement is correct
![image](https://user-images.githubusercontent.com/87849176/148751216-bf9f3d2e-786f-4330-af95-5f6d1825aa00.png)

[2022-01-10 10:36] tianzhou commented on #348
We need to address it in both frontend and backend to whitelist EXPLAIN. @boojack PTAL

[2022-01-10 10:42] xiaods commented on #346
@xiaoluoboding  oops. where to exec dml sql

[2022-01-10 10:45] xiaods commented on #346
![Image_20220110184505](https://user-images.githubusercontent.com/37678/148753318-0b4db8a8-d574-47db-8cb1-c202edf6eee0.png)

finally got it.

[2022-01-10 10:46] xiaods commented on #346
Is change Schema a technical term? I'm a bit confused by the term. After using it once, I'll get it.

[2022-01-10 10:55] #346 closed

[2022-01-10 13:26] xiaoluoboding commented on #348
@tianzhou @boojack  maybe we do not need to validate the SQL statement is correct or not. pass the statement to the back-end. At the front-end, we only validate the query is a `SELECT` statement or not.

[2022-01-10 13:51] tianzhou commented on #348
@xiaoluoboding

For frontend, I think do a simple validation to check whether it's SELECT or EXPLAIN SELECT is sufficient.

[2022-01-10 14:02] boojack commented on #348
@xiaoluoboding  @tianzhou This failure is because of the frontend package `node-sql-parser` will throw an SyntaxError with statement `explain select * from abc` which is correct. And I think maybe using the simple regex is more efficient than `node-sql-parser` in this situation.

[2022-01-10 14:23] xiaoluoboding commented on #348
@boojack just remove [isValidStatement](https://github.com/bytebase/bytebase/blob/main/frontend/src/composables/useExecuteSQL.ts#L27-L34) function, will be fine. I use the `noe-sql-parser` to  parse the SQL statement,  in case we want to use the more info of the query. If we really does not need it. We can remove it.

[2022-01-11 04:16] #341 closed

[2022-01-11 07:06] xiaods commented on #343
As you designed it, this SQL editor is for querying SQL and not for managing DML. As I am new to SQL editor, I did not know the process, so I executed the wrong SQL directly inside SQL editor to report an error. After your reminder, I have known the process. I have used the DML language in Alter Schema and it works fine, so I closed the issue

[2022-01-11 10:16] #27 closed

[2022-01-11 13:09] tianzhou commented on #336
Solved offline after helping customer to do a manual schema upgrade.

[2022-01-11 13:09] #336 closed

[2022-01-11 13:10] tianzhou commented on #345
Customer confirmed it's using the chinese version of semicolon;

[2022-01-11 13:10] #345 closed

[2022-01-13 09:30] xiaoluoboding opened #378 "Whether set `database.instance.id` into `databaseListByProjectId` is right?"
https://github.com/bytebase/bytebase/blob/b99025794b3a5904e46e3e6d2b4ec8c909dfd678/frontend/src/store/modules/database.ts#L438

I was confused that the Map of `databaseListByProjectId` has an instance.id key. is that right or a bug?

[2022-01-13 09:32] tianzhou commented on #378
@xiaoluoboding clearly it's a bug. Copy paste error. Good eye

[2022-01-13 09:43] xiaoluoboding commented on #378
OK. I will fixed this with a new PR

[2022-01-13 09:43] #378 closed

[2022-01-14 06:45] weiailuxueqi opened #388 "Failed to create webhook for project ID: 101"
**Provide the MySQL version you are using (if related with instance/database operation)**
mysql8

**Provide the GitLab version you are using (if related with VCS integration)**
gitlab 13.10

**Provide the Bytebase version you are using**

The version info is shown on the bottom left of the console.

**Describe the bug**

A clear and concise description of what the bug is.

**Steps or screenshots t

[2022-01-14 07:21] tianzhou commented on #388
@weiailuxueqi are you the maintainer of the corresponding GitLab project? It requires at least maintainer role to create the webhook.

[2022-01-14 07:29] weiailuxueqi commented on #388
@tianzhou yes,I use maintainer. “Failed to create webhook for project ID: 101”

![image](https://user-images.githubusercontent.com/27498426/149467942-2366ba2f-b658-419e-a4b8-34e4fb0a870b.png)
![image](https://user-images.githubusercontent.com/27498426/149468408-0d55fea4-1c81-43a4-b404-36c7316c0811.png)
![image](https://user-images.githubusercontent.com/27498426/149468407-10e86bb2-687c-43c1-be42-b7

[2022-01-14 07:40] weiailuxueqi commented on #388
I use bytebase v0.11.0 docker deploy.

[2022-01-14 08:48] suzaku commented on #388
@weiailuxueqi  You may want to take a look at #101.

[2022-01-17 10:12] tianzhou opened #394 "baseline scripts executed unexpectedly"
### Discussed in https://github.com/bytebase/bytebase/discussions/350

<div type='discussions-op-text'>

<sup>Originally posted by **NickStepanov** January 10, 2022</sup>
Hi,

I am trying to test the use of Clickhouse with VCS based workflow.

I am creating a UI based baseline and it works fine.

After that, I am pushing a file to gitlab with my baseline, it get picked up by Bytebase and it even s

[2022-01-17 10:12] tianzhou commented on #394
Converted from https://github.com/bytebase/bytebase/discussions/350

[2022-01-17 10:14] tianzhou commented on #394
@qsliu2017 please take a look.

To setup a ClickHouse instance, you can follow:

https://bytebase.com/blog/how-to-run-clickhouse-with-docker-and-connect-using-mysql-client

[2022-01-17 16:16] NickStepanov opened #396 "Failed to create file after applying migration with GitLab branch with forward slash in the name"
**Provide the GitLab version you are using (if related with VCS integration)**
14.6.2-ee

**Provide the Bytebase version you are using**
0.11.0

**Describe the bug**

When using VCS-based migrations with branch name like 'feature/newcolumn1', the run of the migration fails with:

`failed to create file after applying migration 202201170001 to "test_db": failed to create file bytebase/test/.test_db

[2022-01-17 16:19] tianzhou commented on #396
@NickStepanov thanks for the detailed report. This does look like a bug, will work on a fix soon

[2022-01-18 07:00] qsliu2017 opened #402 "install error via docker"
**Provide the Bytebase version you are using**

0.11.0

**Describe the bug**

I follow the install docs https://docs.bytebase.com/install/docker but ends up with errors

[code]

and there are error tips in the frontend
<img width="531" alt="截屏2022-01-18 下午2 58 41" src="https://user-images.githubusercontent.com/57934883/149886483-9eb41298-1b43-4174-abc8-bed3133aad3a.png">

[2022-01-18 07:05] tianzhou commented on #402
Looks like you once installed old schema. Please take a look at https://github.com/bytebase/bytebase/wiki/How-to-perform-upgrade

[2022-01-18 07:13] showsmall opened #403 "deploy MySQL"
Hello, when creating a database instance, do you consider adding the automatic deployment function of MySQL so that our developers don't have to deploy MySQL applications themselves.

[2022-01-18 07:15] tianzhou commented on #403
@showsmall do you mean when deploying the new application version, you want bytebase to automatically apply the schema change (migration)?

[2022-01-18 08:29] #402 closed

[2022-01-18 09:49] #396 closed

[2022-01-18 09:50] tianzhou commented on #396
Should arrive in the next release (ETA Jan 20)

[2022-01-18 10:18] cosmtrek opened #411 "Failed to run query in SQL editor"
**Provide the Bytebase version you are using**

v0.11.0

**Describe the bug**

Failed to run query in SQL editor.

**Steps or screenshots to reproduce the behavior**

![CleanShot 2022-01-18 at 18 14 28@2x](https://user-images.githubusercontent.com/8832222/149917542-d2c4932d-d1b6-418b-8786-d2ec7f7515f0.png)

![CleanShot 2022-01-18 at 18 13 41@2x](https://user-images.githubusercontent.com/8832222/14

[2022-01-18 10:34] xiaoluoboding commented on #411
@cosmtrek  It will fix in the next release version.

[2022-01-18 10:45] tianzhou commented on #388
@suzaku it was refactored to only encoded as an internal message. Just did a chance to return it to the client when --debug is on.

[2022-01-18 10:46] tianzhou commented on #388
@weiailuxueqi Could you please take a look at https://github.com/bytebase/bytebase/issues/101#issuecomment-985257731 as @suzaku suggested and see if that's the culprit?

[2022-01-19 08:19] #175 closed

[2022-01-20 06:55] zhouzilong2020 opened #432 "After setting up an admin account, the system still prompts to set up an admin account."
**Provide the Bytebase version you are using**
v0.12.0

**Describe the bug**
After setting up an admin account, the system still prompts to set up an admin account.

**Steps or screenshots to reproduce the behavior**
1. set up an admin account
2. After logining, immediately logout
3. the Page will be redirected to set up an admin account again.

**Expected behavior**
Once an admin account is set u

[2022-01-20 07:53] LiuJi-Jim opened #434 "Fail adding label values when no value in the list."
**Provide the Bytebase version you are using**
v0.12.0

**Describe the bug**
When bytebase is installed from scratch, adding new label value in Settings/Label will fail.

**Steps or screenshots to reproduce the behavior**

1. Go to 'Settings - Label'
1. Click on '+' besides 'location'
1. Input some texts.
1. Press Enter or click on '✓' button.
1. See error

**Expected behavior**
Input value should

[2022-01-20 08:16] LiuJi-Jim commented on #434
fixed in #435

[2022-01-20 08:16] #434 closed

[2022-01-20 08:24] #432 closed

[2022-01-20 09:06] showsmall commented on #403
@tianzhou I mean: automatically create MySQL instances without manually accessing, installing and deploying mysql

[2022-01-20 11:04] #337 closed

[2022-01-20 11:04] tianzhou commented on #337
Will release in the next version.

[2022-01-20 12:35] qsliu2017 commented on #403
maybe we can add a `quickstart.docker-compose.yml` to set up a MySQL and data?

[2022-01-20 14:38] tianzhou commented on #403
Maybe call mysql-quickstart.docker-compose.yml, so that we can have postgres, clickhouse version as well

[2022-01-20 15:57] adela-bytebase commented on #403
I like this one 😄

[2022-01-21 02:02] xiaoluoboding commented on #411
Already fixed in the latest version v0.12.0

[2022-01-21 02:02] #411 closed

[2022-01-21 02:02] xiaoluoboding commented on #348
Already fixed in the latest version v0.12.0

[2022-01-21 02:02] #348 closed

[2022-01-21 02:18] TBACEJ commented on #337
nice job！
thanks a lot！

[2022-01-21 10:31] #403 closed

[2022-01-24 15:06] NickStepanov opened #462 "v0.12.0 Approve button executes code on DB"
**Provide the Bytebase version you are using**
0.12.0

**Describe the bug**

With Clickhouse DB as a target, when using VCS workflow, new issue gets created as it did int 0.11.0 version. However, when pressing 'Approve' button on issue's page, Bytebase proceeds to applying the code directly to the database (without displaying the 'Run' button after apply worked successfully).
After pressing the 'a

[2022-01-25 02:09] d-bytebase opened #463 "Create database - allow create new DB for Clickhouse cluster."
### Discussed in https://github.com/bytebase/bytebase/discussions/460

<div type='discussions-op-text'>

<sup>Originally posted by **NickStepanov** January 24, 2022</sup>
Hi,

From my testing (I may be wrong), in order to create a new DB in Bytebase, one needs to do it via UI.
In a test case I've tried - this is a problem with Clickhouse running in multi-node cluster configuration (and most of Cli

[2022-01-25 04:07] tianzhou commented on #462
@NickStepanov It's actually a bug in the previous version. After approval, the task should run automatically without hitting RUN.

But our current UI also has a bug that the button is not refreshed fast enough.

[2022-01-25 06:23] TBACEJ opened #467 "OAuth setup does not work for old GitLab 9.4.0 version"
Bytebase version: 0.12.0
gitlab version: 9.4.0

Setting - version control

error image:

![image](https://user-images.githubusercontent.com/20853008/150922800-8dcc7c8a-cecf-444e-bdad-1aec0f283430.png)

Developers like to use stable daily tools, so we aren't gong to upgrade the version of gitlab.
If Bytebase can compatible the lower version gitlab.

Thanks!

[2022-01-25 07:37] TBACEJ opened #470 "can't Create Environment"
Bytebase version 0.12.0

![image](https://user-images.githubusercontent.com/20853008/150932049-946d270d-4698-4484-a672-b5dbf5d615e0.png)

When I clicked 'Create' button, nothing happened.

[2022-01-25 07:43] TBACEJ commented on #470
sorry, this isn't a bug, I found reason.

[2022-01-25 07:43] #470 closed

[2022-01-25 07:44] TBACEJ commented on #470
this isn't a bug

[2022-01-25 07:46] tianzhou commented on #470
@TBACEJ Just curious, what's the reason?

[2022-01-25 09:05] NickStepanov commented on #462
Ah, okay, so the "Run" button should not even be there at all?

[2022-01-26 14:04] d-bytebase commented on #275
The error comes from clickhouse Go client library at this line [1], where time.LoadLocation("Etc / UTC") returns an error. I've also looked at Python driver. It only loads the server timezone but doesn't do anything about it [2].

After a closer look, I noticed your error string has "Etc / UTC" instead of valid "Etc/UTC" [3]. Would you help check if there's anything special about your clickhouse s

[2022-01-27 07:51] tianzhou commented on #462
@boojack pls take a look. This is not specific to ClickHouse, using MySQL should also reproduce the issue.

[2022-01-27 07:53] tianzhou commented on #71
Already support Chinese. No plan to support other languages for now.

[2022-01-27 07:53] #71 closed

[2022-01-27 10:05] qsliu2017 commented on #394
I find that baseline SQL script will always be executed, both UI and Git workflow

![截屏2022-01-27 下午5 56 38](https://user-images.githubusercontent.com/57934883/151335784-73ed67d8-d700-4ce2-90fe-db7dea1b8dc3.png)

In bytebase [docs](https://docs.bytebase.com/use-bytebase/vcs-integration/create-the-first-baseline-migration), it says

@tianzhou ,I need more info about
1. does the baseline script need

[2022-01-27 10:15] tianzhou commented on #394
What baseline means is it tells Bytebase the current state of schema (aka establishing the baseline)

So Baseline statement does has statement, it's the statement tells Bytebase the current schema.

But it should NOT be executed.

[2022-01-27 10:49] NickStepanov opened #499 "Timeout while adding existing Clickhouse instance, UI hangs"
Clickhouse version: 21.11.1 revision 54450

**Provide the Bytebase version you are using**
0.12.0 running in Docker

**Describe the bug**

While running a small setup locally for testing, Bytebase in Docker + 4-node cluster of Clickhouse in Docker.
When clickhouse instance doesn't contain any objects or user DBs/tables, adding an instance works quick and as expected.
However, once there are object

[2022-01-27 10:54] tianzhou commented on #499
yeah, we have a 30s timeout https://sourcegraph.com/search?q=context:global+repo:%5Egithub%5C.com/bytebase/bytebase%24+INSTANCE_OPERATION_TIMEOUT&patternType=literal

A quick way is probably to bump the timeout.

[2022-01-28 06:51] #394 closed

[2022-02-03 15:44] boyapatisandeep opened #543 "Simple insert statement failing with error running on clickhouse using change data workflow"
**Query ran:**

insert into recipes(recipe_id, recipe_name) values (1, 'Pizza');

**ERROR received:**

execute query "insert into recipes(recipe_id, recipe_name) values (1, 'Pizza');" failed: block: expected 2 arguments (columns: recipe_id, recipe_name), got 0

Please fix it asap else we cant use clickhouse

[2022-02-03 15:49] d-bytebase commented on #543
Hi @boyapatisandeep, can you provide any screenshot or are you using SQL editor feature to run the INSERT query? With an error message, it's hard for us to understand the whole story. Thanks!

[2022-02-03 15:58] tianzhou commented on #543
@d-bytebase the user contacted me offline confirming they are using the change data workflow not the SQL Editor

[2022-02-04 13:29] anselmodadams commented on #543
Reproduced the issue. Test error bellow:

[code]

[2022-02-04 14:53] boyapatisandeep commented on #543
This is basic command for any SQL, Am I the first one to use clickhouse with bytebase ? How are everyone doing ?

[2022-02-05 14:04] #543 closed

[2022-02-07 06:58] shangjin92 opened #557 "How to support existed database?"
While I add psql instance and create project, I found that I can only create new database for this instance. But actually, I want to escrow an existed database to bytebase. Is there any possible to add existed database to bytebase? Does bytebase can list all existed database, and load all database automatically?

[2022-02-07 07:01] d-bytebase commented on #557
Hi shangjin92@, Bytebase will sync schema for newly added instance including it's existing databases. If you find it otherwise, can you give some details for us to troubleshoot or reproduce the issue? Thanks!

[2022-02-07 07:17] shangjin92 commented on #557
After I have added instance and project, I found the database already in this instance cannot be loaded in Bytebase. And I found I can only create new database, cannot add existing database from web UI. The instance is PostgreSQL, from Aliyun RDS, I have created username of Super-User.

[2022-02-07 07:19] shangjin92 commented on #557
I found the log below:
`sync schema error: failed to get tables from database "postgres": getTable("public", "ha_health_check") got error pq: permission denied for relation ha_health_check`

[2022-02-07 07:47] d-bytebase commented on #557
Hi shangjin92@, did we give bytebase superuser privilege?

<img width="811" alt="Screen Shot 2022-02-07 at 3 42 28 PM" src="https://user-images.githubusercontent.com/98006139/152745621-4b05c817-9fb0-4d09-9d11-d28a987e5c8b.png">

[2022-02-07 10:03] shangjin92 commented on #557
![image](https://user-images.githubusercontent.com/7251928/152766719-db28401a-14a6-4aab-94c6-36e53bc2b15d.png)

[2022-02-07 12:52] d-bytebase commented on #275
From https://github.com/ClickHouse/clickhouse-go/issues/488, "Etc / UTC - invalid TZ". Users may want to check server environment to make sure the timezone is set to correct value.

[2022-02-07 12:52] #275 closed

[2022-02-11 04:31] boyapatisandeep opened #579 "Support for gitlab managed service"
Hi Team,

We are looking to connect bytebase to gitlab manages service. I see its not supported at the moment. Do we have any ETA for supporting gitlab managed ?

We would like to understand how we run queries by passing xml file like we do for liquibase. We will be using xml file parsing queries. I dont see any supporting document for the same.

[2022-02-11 04:33] tianzhou commented on #579
GitLab managed service is on our roadmap, but there is no ETA yet, so it's at least 1 quarter away usually.

We do not support XML file. SQL is the only one we support in the near term.

[2022-02-11 04:34] tianzhou commented on #579
BTW, I am actually curious what makes your team chooses XML over plain SQL?

[2022-02-14 11:43] tianzhou commented on #579
@boyapatisandeep you can follow this series https://docs.bytebase.com/use-bytebase/vcs-integration

[2022-02-14 11:46] boyapatisandeep commented on #579
We are stuck at step-1 as we cant use gitlab managed solution for bytebase

https://docs.bytebase.com/use-bytebase/vcs-integration/add-git-provider

[2022-02-17 08:25] boojack commented on #467
@TBACEJ Actually, this is a CORS error inside GitLab(v9.4.0). Check out this solution: [How to solve "Failed to Add Git Provider" with CORS error?
](https://github.com/bytebase/bytebase/wiki/How-to-solve-%22Failed-to-Add-Git-Provider%22-with-CORS-error%3F)

[2022-02-21 08:46] zhouzilong2020 opened #623 "Cannot restart PostgreSQL server during hot reload"
After migrating from SQLite to pgSQL, hot reload will fail every time.
![截屏2022-02-21 下午4 46 18](https://user-images.githubusercontent.com/60960532/154919512-3009ecfa-56ac-452b-b6a1-faf2fb8df436.png)

[2022-02-21 09:16] zhouzilong2020 commented on #623
This bug is caused by [air](https://github.com/cosmtrek/air). After updating my air to the latest(v1.27.8 --> v1.27.10), everything runs smoothly.

[2022-02-21 09:16] #623 closed

[2022-02-21 09:51] boojack commented on #462
@NickStepanov I'm sorry that I tried many times but couldn't reproduce this issue. If you're still having the error, please give me a little more information about the operation steps.

[2022-02-22 02:23] RainbowDashy opened #629 "User Id is not a number"
**Provide the Bytebase version you are using**

e1310812eab1fac1e3717f12e63f6c3b1c870654

**Describe the bug**

See the screenshot.

**Steps or screenshots to reproduce the behavior**
<img width="1672" alt="截屏2022-02-22 10 19 07" src="https://user-images.githubusercontent.com/12679343/155051253-5303060c-7962-48e2-807f-16a059a31eae.png">

1. Click on 'inbox'
1. See error

**Expected behavior**

The

[2022-02-22 03:09] zhouzilong2020 opened #631 "Fail to update repositary config after migrating to pgsql"
![截屏2022-02-22 上午11 08 50](https://user-images.githubusercontent.com/60960532/155055970-e3c7da6b-453f-4b50-9d85-e812348c367c.png)

[2022-02-22 03:59] d-bytebase commented on #629
The error comes from this line: https://github.com/bytebase/bytebase/blob/main/server/acl.go#L178

Steven, do you have any insights?

[2022-02-22 04:04] boojack commented on #629
@d-bytebase I think it's the querystring format error. There should be a `?` in `/api/inbox/user/101&created=1644897692`, I will fix it.

[2022-02-22 04:21] #629 closed

[2022-02-22 04:23] #631 closed

[2022-02-22 07:16] #499 closed

[2022-02-23 18:28] heqingy commented on #40
@tianzhou We are using PT-OSC and it prints out the percentage progress. It does the migration by copying data from the old table to the new table, and by estimating the number of rows copied/left, the progress can be calculated.

I guess the communication can be done with socket/FILE if you are going to support this feature. When the user is using some customized tools, they can write to that fil

[2022-02-26 05:12] Innei opened #667 "[UX]: After initial initialization signup and then logout, cannot nav to the login page"
**Provide the MySQL version you are using (if related with instance/database operation)**

Not care

**Provide the GitLab version you are using (if related with VCS integration)**

Not care

**Provide the Bytebase version you are using**

0.13.0

The version info is shown on the bottom left of the console.

**Describe the bug**

https://user-images.githubusercontent.com/41265413/155830089-05e7cdca

[2022-02-26 12:45] tianzhou commented on #499
@nadilas how many node does your ClickHouse cluster have and how many databases do you have in your cluster.

We bumped the timeout from 30 to 60s in https://github.com/bytebase/bytebase/pull/636, but depending on your cluster size, it might be not sufficient.

And we may need to design a more elegant way.

[2022-02-26 12:47] tianzhou commented on #667
@Innei Thanks for the detailed report. Yeah, that's a known bug. Currently, it needs a web page reload. @LiuJi-Jim PTAL

[2022-02-26 19:48] nadilas commented on #499
There are two tiny Postgres instances with each 1 database. The bytebase deployment might be struggling for resources, what are the recommended cpu/memory resources?

[2022-02-27 03:17] tianzhou commented on #499
Is your postgres instance located far from the Bytebase deployment?

Bytebase is very light on cpu/memory, usually it consumes ~20 MB memory at runtime.

[2022-02-27 07:21] tianzhou commented on #499
So you mean you deploy both Bytebase and Postgres on the same Kubernetes cluster?

Could you please share a bit detail about the setup, e.g. networking config, whether use any service mesh technology like istio. What's your deployment yaml file look like?

[2022-02-27 07:55] nadilas commented on #499
Yes that’s what I meant. Sure, I’ll upload them in a few hours

[2022-02-27 14:38] nadilas commented on #499
I can't tell you much about the network itself. There is a single openshift `route` in front of the k8s service without a service mesh.

Here's the service:

[code]
Here's the deployment file:

[code]

I'll obverse during the next couple of days.

[2022-02-27 15:18] tianzhou commented on #499
@nadilas Thanks for providing the yaml.

          volumeMounts:
            - mountPath: /var/opt/bytebase
              name: bytebase-data

So where does the disk come from?

Since you mention the Ping button works fine while the create issue, approve issue timeout. One possibility is it times out on the disk operation. Because Ping only touches the server API layer, while the create issue, app

[2022-03-01 01:46] #667 closed

[2022-03-04 07:28] dragonly opened #758 "Umbrella(refactor): split data model object for store/server code"
# Context

Currently, the codebase is dealing with model objects full of pointers, which represent the underlying database relationship.

The problem is that we cannot tell from the data type whether it's composed (pointers are not nil and contain data queried from the database, recursively) or not. The same data model is used in the store and server code, which has different assumptions about the

[2022-03-08 03:51] dragonly commented on #758
TODO: https://github.com/bytebase/bytebase/pull/754#discussion_r820572223

[2022-03-09 05:54] dragonly commented on #758
Maybe we should add tests to check all fields are copied from `XxxRaw` to `Xxx` in the `ToXxx` methods?

[2022-03-09 06:00] d-bytebase commented on #758
We can add a smoke test on number of fields in XxxRaw and remind developers when the numbers are changed.
 len(structs.Map(XxxRaw{}))

[2022-03-11 03:27] abserari opened #837 "When docker run according to docs ERROR failed to extract txz file, error: failed to create directory "share/postgresql/", error: mkdir /var/opt/bytebase/resources: permission denied"
**Provide the Bytebase version you are using**
docker 1.0.0
**Describe the bug**

[code]

[2022-03-12 11:26] d-bytebase commented on #837
H @abserari , would you mind providing the OS you're using and what's the owner/permission for directory ~/.bytebase/data on the host? Thanks!

[2022-03-13 06:19] tisonkun opened #861 "Introduce testify assertions for simplifying testing code"
So far, bytebase adopt the bundled go testing framework to run unit test. It's good to follow and well integrated with the ecosystem.

However, manually verify assertions and write error message handy is a bit awkward. Thus, I propose we introduce [testify](https://github.com/stretchr/testify) assertions for simplifying testing code.

Before:

[code]

After:

[code]

What do you think?

## Notes

[2022-03-14 01:29] abserari commented on #837
I  try on two OS
1.  Windows 10 with Docker Desktop:
2.  CentOS 8 With Docker

[2022-03-14 09:21] d-bytebase commented on #837
Hi @abserari , we support Linux (+MacOS) platform only. We've made some OS platform improvements in the release 1.0.1 [1]. Would you try with the following command? Also I notice some Linux platform require docker volume mount with ":z" option [2].

[1]
docker run --init --name bytebase --restart always --publish 80:80 --volume ~/.bytebase/data:/var/opt/bytebase bytebase/bytebase:1.0.1 --data /var

[2022-03-14 09:47] abserari commented on #837
[code]

[code]

[2022-03-14 09:52] milkwine commented on #837
It seems version `1.0.0` run as user `bb` which don't have privilege to `mkdir` under `/var/opt/bytebase` .
Docker image `bytebase/bytebase:1.0.0` have such layer
[code]
https://hub.docker.com/layers/bytebase/bytebase/1.0.0/images/sha256-c11e5965bfb8f43a41787973bb200861773be9e0d5b44f96dd81b54b22d3bc8c?context=explore

[2022-03-14 10:26] d-bytebase commented on #837
@abserari , it might be the case that you don't have permission to bind on port 80 or get a conflict on port later. We can try other available ports.

https://docs.bytebase.com/install/docker#run-on-localhost-8080

[2022-03-14 10:50] abserari commented on #837
yes, WSL is Windows Sub Linux.

And docker run on CentOS8 get the same error when running the two options provided.

[2022-03-14 11:09] d-bytebase commented on #837
Would you try the following? This is because you would need to give extra privilege to listen to ports such as 80 (for http default socket).

$ docker run --init --name bytebase --restart always --publish 5678:5678 --volume ~/.bytebase/data:/var/opt/bytebase bytebase/bytebase:1.0.1 --data /var/opt/bytebase --host http://localhost --port 5678

or

$ docker run --init --name bytebase --restart alway

[2022-03-15 01:16] d-bytebase commented on #861
Yes, testify is a better alternative. Let's have new tests using testify. Community contribution of switching to testify are welcome.

[2022-03-15 01:47] tisonkun commented on #861
@d-bytebase you're right. I just notice that this issue, instead of an actionable task, is more like a style proposal. You can move it to the "General" discussion category and I'll practice this proposal when I make actually changes. Thanks for confirming the direction is OK for you.

[2022-03-15 01:58] d-bytebase commented on #861
Thanks for the suggestion and future contribution. It's okay to keep the issue since it's indeed code enhancement. testify assertion is a good direction to move to, but I have the same reservation as you do on other testify features such as suite or mocks. When we do assertion, we should check the assertion value for certain cases if the test shouldn't continue on mismatch, e.g.

[code]

We are co

[2022-03-15 02:03] tisonkun commented on #861
If I understand it correctly, `require.Equal` is exactly what provided. That means, you can write:

[code]

instead of:

[code]

refer to the source code of `require` assertions:

[code]

[2022-03-15 02:22] d-bytebase commented on #861
When I look at require.Equal() [1] which calls t.FailNow() similar to t.Fatal(). I'm not a big fan of t.Fatal() which does exit(1) for two reasons.
1) For the cases we use sub-tests, we don't want to exit the whole test. We just want to fail the current sub-test.
2) We may not have a chance to do graceful shutdown of the test if we need to shutdown servers or deleting large data.

[1]
https://gith

[2022-03-15 02:49] abserari commented on #837
Ok，another port works good.

[2022-03-15 05:00] d-bytebase commented on #837
Great, glad to hear that! Let us know if you have other question.

[2022-03-15 05:00] #837 closed

[2022-03-15 05:19] d-bytebase commented on #861
Hi @tisonkun , I wanna take some of my words back in the comment above. We should use require if needed for certain cases as if we use t.Fatal() v.s. t.Error()+return.

1. This is still valid.
2. As I check the recent implementation of t.FailNow(), it will trigger the defer() before running os.Exit(1) . So the resources will be shutdown gracefully.

[2022-03-15 05:22] tisonkun commented on #861
@d-bytebase get.

lol

[2022-03-15 05:27] d-bytebase commented on #861
It evolves. My last look at testing package implementation was in 2015...

[2022-03-16 01:56] WeaponX86 opened #885 "Add support for DB connections via SSH"
**Is your feature request related to a problem? Please describe.**

We run several MySQL instances on Amazon EC2 servers which require an SSH login

**Describe the solution you'd like**

Add additional credentials for:
SSH Hostname
SSH Username
SSH Password
SSH Key

**Additional context**

Example setup in MySQL Workbench
![Screenshot 2022-03-15 215431](https://user-images.githubusercontent.com/12

[2022-03-16 01:59] Sepush opened #886 "Can't setup backend dev env on Win10"
**Provide the Bytebase version you are using**
bytebase branch main

**Describe the bug**

can't setup the backend dev env on Windows 10

**Steps or screenshots to reproduce the behavior**

- setup the dev env following https://github.com/bytebase/bytebase#steps
- on step4 air -c scripts/.air.toml will fail to build and get the following error

![image](https://user-images.githubusercontent.com/39

[2022-03-16 08:47] d-bytebase commented on #886
Hi @Sepush , windows isn't a platform we're going to have support for. Users are welcome to use Linux/Unix like VMs or Docker to install Bytebase.

[2022-03-21 13:45] unknwon opened #928 "☂️ GitHub Git provider"
## Context

This is a tracking issue for adding GitHub as a Git provider based on [Bytebase GitHub Git provider design doc](https://docs.google.com/document/d/1FKHbAxSCNkDeQNYkVTI0oZmbUSgkQsQmM1s7jyq7LWo/edit?usp=sharing).

Frontend and backend work can be parallelized, and the frontend uses `IsDev()` to guard changes until completion.

## TODO

- [x] Make necessary changes to the database schema

[2022-04-01 05:43] huangbipeng opened #985 "docker restart bytebase report errors error: database "bb" has already applied version 10001"
version bytebase/bytebase:1.0.1

waiting for server to start....2022-04-01 05:41:23.521 UTC [15] LOG:  starting PostgreSQL 14.2 on x86_64-pc-linux-musl, compiled by gcc (Alpine 6.3.0) 6.3.0, 64-bit
2022-04-01 05:41:23.521 UTC [15] LOG:  listening on IPv4 address "127.0.0.1", port 5679
2022-04-01 05:41:23.521 UTC [15] LOG:  could not bind IPv6 address "::1": Address not available
2022-04-01 05:41:2

[2022-04-01 05:46] d-bytebase commented on #985
Hi @huangbipeng, does the issue persist if we remove the container and start it again? Also, you can try out the latest version 1.0.2.

https://bytebase.com/docs/install/install-with-docker

[2022-04-01 07:12] huangbipeng commented on #985
The problem persists after deleting the container，I'll go back and replace the image version 1.0.2

[2022-04-01 07:14] huangbipeng commented on #985
After changing the image version, the problem still exists

[2022-04-04 07:44] tianzhou commented on #886
Support dev env on Win10 is not on our roadmap.

[2022-04-04 07:44] #886 closed

[2022-04-04 12:47] d-bytebase commented on #861
We've converted our tests to testify framework. Feel free to contribute if there's any leftover that we've missed. Thanks!

[2022-04-04 12:47] #861 closed

[2022-04-04 12:49] d-bytebase commented on #388
Closing as there isn't much feedback so far. Feel free to reopen if this is still an issue.

[2022-04-04 12:49] #388 closed

[2022-04-04 13:03] tisonkun commented on #861
Aha. Good to know.

[2022-04-04 13:18] h3n4l opened #1013 "Display \n as a new-line incorrectly"
**Provide the MySQL version you are using (if related with instance/database operation)**
MySQL Community 8.0.19

**Provide the Bytebase version you are using**
v 1.0.2

**Describe the bug**

The front end should display `\n` correctly

**Steps or screenshots to reproduce the behavior**

<img width="1429" alt="image" src="https://user-images.githubusercontent.com/87714218/161551793-315f218b-b93d-4

[2022-04-05 02:11] #1013 closed

[2022-04-06 09:49] Vonng opened #1027 "Support to specify external PostgreSQL instance to store Bytebase's own metadata"
**Is your feature request related to a problem? Please describe.**

ByteBase use a hard-coded connection string for it's own postgres.
Which could be an obstacle when trying to use an external RDS PG as storage.

**Describe the solution you'd like**

A new command-line argument `--pgurl` and corresponding environment variable.
Which will be used as connection string for bytebase's meta postgres.

[2022-04-06 11:40] cobolbaby opened #1028 "Support Greenplum 6.x"
**Is your feature request related to a problem? Please describe.**

We use Greenplum to build our data warehouse, and SQL developers will write some UDFs to complete data cleaning. However, UDF only relies on regular database backup for traceability, and lacks strict version management and related descriptive information.

If Bytebase can be used for version management of UDF, I believe it will he

[2022-04-06 13:18] tisonkun commented on #1027
@Vonng I checked the source code and tend to regard the design purpose of Bytebase to encapsulate the metadata storage as an internal concept. Actually, Bytebase even ships the tarball of pg to install if it's absent at the environment.

In this philosophy I don't think it's benefit for users to configure the metadata store because it should be always managed and never an external instance.

[2022-04-06 13:40] Vonng commented on #1027
The benefit is clear: It could be used as a stateless clean binary just as other go applications. Which could be used **even when docker is not available** . And the container can be destroyed , scheduled, manipulated without concern of data loss.

Adding this functionality can be completely compatible with current implementation: Use existing approach by default, but use `PGURL` if specified.

[2022-04-06 14:05] tisonkun commented on #1027
@Vonng what's the attributes of the external database in your mind? Is it owned (i.e., totally managed) by Bytebase instance? Is there a provided, initialized database for use?

[2022-04-06 14:20] Vonng commented on #1027
The instance should be a provisioned database:
* Write-able (primary)
* Dedicate database `bb` (empty or migrated)
* Admin user with HBA access to that database
* Connect & Create privilege on that database for admin user
* Common DDL/Admin Privilege for admin user

[code]

It's user's responsibility to prepare all this if one want to use external database.

Take gitlab as an example: it use inter

[2022-04-06 14:52] tisonkun commented on #1027
@Vonng That sounds interesting. Almost I can prototype a patch. One detail is that so far Bytebase connect to a database with `ConnectionConfig`, which is incomplete to support all PG connection string properties.

I can make the binary receive a standard PG connection string and parse it with `lib/pq`, but what if the provided string contains a property that doesn't exist in the config struct?

c

[2022-04-06 15:11] Vonng commented on #1027
Well I think that covers 99.9999% cases. Discard extra params won't be harmful.

`postgres://user:pass@host:port/dbname?key=value`

The only kv param that needs attention is `sslmode`, I guess that is covered in TLSConfig.

Take grafana as example:

[code]

[2022-04-07 03:28] tisonkun commented on #1027
I prepare a draft at #1030 but fail to find a way to add tests. You may try to modify the air profile and try to verify locally.

[2022-04-08 11:15] #1027 closed

[2022-04-08 13:27] tisonkun opened #1056 "Conditionally exclude resource/postgresql code in compilation"
**Is your feature request related to a problem? Please describe.**

Ref https://github.com/bytebase/bytebase/pull/1030#pullrequestreview-935093316

**Describe the solution you'd like**

Conditionally exclude resource/postgresql code in compilation by `omni` tags.  Also CI/CD pipeline and related scripts should be updated.

[2022-04-08 15:51] cobolbaby commented on #35
The databases used in enterprises are becoming more and more diverse, covering MSSQL, MySQL, PostgreSQL, Clickhouse, Greenplum and other databases. Different databases support different applications within the enterprise, which is especially common in non-Internet enterprises such as traditional manufacturing.

There may be tools that support specific databases, but I'd prefer to see a consistent

[2022-04-08 16:06] tianzhou commented on #35
@cobolbaby we have to be focused. Onboarding a new database engine is a lot of work. e.g. In order to perform SQL check, we need to first incorporate a parser. For MySQL, we are lucky to have https://github.com/pingcap/parser/, while there is no established one in PostgreSQL, so we may end up building our own.

Backups, DDL changes, user management, schema introspection etc, are all different amon

[2022-04-09 10:25] tianzhou commented on #1028
@cobolbaby thanks for raising this issue. This is a valid use case I personally didn't realize.

However, Greenplum is not on our roadmap.

[2022-04-09 10:26] #1028 closed

[2022-04-13 13:10] kevinbevers opened #1106 "Chrome all labels show as their variable names."
**Provide the Bytebase version you are using**
1.0.3, I also tested 1.0.2 and 1.0.0

**Describe the bug**

When using Google Chrome all labels show as their variable names.

**Steps or screenshots to reproduce the behavior**

1. Startup Bytebase
2. visit the dashboard
<img width="556" alt="Screenshot 2022-04-13 at 14 51 55" src="https://user-images.githubusercontent.com/25659609/163184601-d8df253a

[2022-04-15 01:12] LiuJi-Jim commented on #1106
Sorry, but I cannot reproduce this in 1.0.3
Installed via
[code]

[2022-04-15 01:13] d-bytebase commented on #1106
Hi @kevinbevers , is this still an issue. Would you provide the OS platform you're using and how did you install and run Bytebase? Thanks!

[2022-04-16 08:03] tianzhou commented on #23
Start to work on it now. We have published the database review guide https://bytebase.com/database-review-guide and will incorporate it into the product.

[2022-04-16 20:06] halostatue opened #1119 "No linux/arm64 docker image"
Trying to use the Docker image for 1.0.3 on an M1 macOS machine:

[code]

Everything failed because `~/.bytebase/data` didn’t exist, but the warning is more concerning.

[2022-04-16 20:18] halostatue commented on #1119
Bytebase does not run:

[code]

[2022-04-17 13:25] magentaqin opened #1120 "【SQL Editor】Alter Schema function is not working."
**Provide the MySQL version you are using (if related with instance/database operation)**
MySQL version: 5.7. Not related with MySQL version.Skip.

**Provide the GitLab version you are using (if related with VCS integration)**
Not related with VCS integration. Skip.

**Provide the Bytebase version you are using**
Run Bytebase in local development environment. Current commit id is: ef3f0f117e042253

[2022-04-18 01:01] d-bytebase commented on #1119
Hi @halostatue , I wasn't able to reproduce the same error above on my Macbook Air M1. Would you run "du -h" under "~/.bytebase/data"? I'm wondering if that's a permission problem. Thanks!

[code]

[2022-04-18 01:24] halostatue commented on #1119
The first issue (resulting `ERRO[0008]`) occurs when either `~/.bytebase` or `~/.bytebase/data` exists. The second issue occurs repeatedly when container is removed and the command-line is run again.

I cannot get past `2022-04-18 01:23:48.363823 I | Installing Postgres OS "linux" Arch "amd64" txz "postgres-linux-x86_64-alpine_linux.txz"`.

One thing of note: I am running `colima` and not Docker d

[2022-04-18 02:01] d-bytebase commented on #1119
Hi @halostatue , yes, I'm able to reproduce the issue with colima and I'm looking into it. Meanwhile, you can try Docker Desktop which should work fine.

[2022-04-18 14:03] halostatue commented on #1119
I’ll keep an eye on this issue, instead. My need for `bytebase` is low (we use sqitch for our database migrations, which provides many of the same benefits but no GUI), I was just exploring it. If I move on from colima I’m likely to try Rancher desktop and/or podman.

[2022-04-19 07:02] kevinbevers commented on #1106
@d-bytebase I also get the issue when using the demo: demo.bytebase.com

-macOS Monterey Version 12.3.1
-bytebase v1.0.3
- Chrome Version 100.0.4896.88 (Official Build) (x86_64)

[2022-04-19 07:54] d-bytebase commented on #1106
Hi @kevinbevers, I'm using the exact same setup. Would you clear the cache or open the page in Incognito mode? It's quite strange that we get different results. Thank you for helping us dig the root cause!

[2022-04-19 09:41] kevinbevers commented on #1106
Hey, @d-bytebase I deleted my cache, cookies and stored files in Chrome. I then used incognito and visited the demo site. still the variable name issue.

I use the following add-ons in my browser:
<img width="1320" alt="image" src="https://user-images.githubusercontent.com/25659609/163975775-7d152031-59e2-437a-82ff-d236f1ca10a4.png">

With them disabled the issue still occurs.
<img width="780" alt

[2022-04-19 12:15] d-bytebase commented on #1106
Thanks @kevinbevers , I installed all extensions above and was not able to reproduce the issue still. I'm thinking whether it's caused by javascript rendering (should be part of Chrome). But let us know if the problem persists after you reinstall Chrome.

[2022-04-20 09:13] sagungargs15 opened #1135 "Docker on AWS Fargate | database "bytebase" does not exist | database "bb" does not exist"
**Provide the MySQL version you are using (if related with instance/database operation)**
NA

**Provide the GitLab version you are using (if related with VCS integration)**
NA

**Provide the Bytebase version you are using**
v1.0.3

The version info is shown on the bottom left of the console.

**Describe the bug**
[code]

A clear and concise description of what the bug is.

**Steps or screenshots t

[2022-04-20 09:36] d-bytebase commented on #1135
Hi @sagungargs15 , is Bytebase successfully started in the end? I'm wondering if that's a warning or error?

[2022-04-20 12:11] sagungargs15 commented on #1135
Hi @d-bytebase,

Thanks for replying. I am getting the following error logs. It is shutting down and restarting.

Is there a **"/healthcheck"** endpoint ? I am currently using **"/"** (AWS Fargate requires mandatory healthchecks via Load balancer TARGETs)

[code]

[2022-04-20 12:25] d-bytebase commented on #1135
Thanks for attaching the logs. I think the Bytebase starts properly but something else shuts it down. I'm guessing due to the lack of health checks as you pointed out. We can prioritize it. By the way, Bytebase data is stored in a local Postgres database (think of local disk) which is not persisted for your case with AWS Fargate (serverless). External database support will be coming soon in the ne

[2022-04-20 12:56] sagungargs15 commented on #1135
@h3n4l and @d-bytebase Thanks for the reply.

When is this release due with -pg option and with /healthcheck endpoint ? Can I use "/" as the endpoint with 200 as OK response ?

[2022-04-20 13:04] d-bytebase commented on #1135
ETA is the end of next week.

Yes, that will work if you use "/" (no relative path) for healthcheck at the moment.

[2022-04-21 11:43] yaohui-wyh opened #1142 "Bytebase scripts/build.sh failed in Gitpod workspace"
### Repro case

1. Start a fresh new Gitpod workspace <https://gitpod.io/#https://github.com/bytebase/bytebase>
2. Create a new terminal (VSCode command palette -> Create New Terminal)
3. Execute `./scripts/build.sh`

[code]

### Root cause

Bytebase build scripts use `/bin/sh` which is a symbolic link to `dash` in Gitpod workspace. (Gitpod workspace's default docker image is Debian-based)

[code]

[2022-04-21 20:23] kevinbevers commented on #1106
@d-bytebase re-installing Chrome did nothing. Might be a 1 off, something with my machine. Maybe I changed a setting in the past.

[2022-04-22 00:14] d-bytebase commented on #1106
@kevinbevers I wonder if you could also delete the settings such as ~/Library/Application Support/Google/Chrome for MacOS. Sorry for your inconvenience.
https://support.google.com/chrome/answer/95319?hl=en&co=GENIE.Platform%3DDesktop#zippy=%2Cmac

[2022-04-22 00:24] d-bytebase commented on #985
Hi @huangbipeng , would you delete the pgdata directory in the data directory given to Bytebase?

[2022-04-22 08:08] kevinbevers commented on #1106
@d-bytebase I wiped all google related folders on my laptop and followed the given instructions.

When I go and visit https://demo.bytebase.com I get variables names still.

I don't know why it only happens in Chrome and I have no ways of reproducing, I suggest closing the issue.

[2022-04-22 10:39] d-bytebase commented on #1106
Gotit, feel free to let us know if you get any findings. Thanks!

[2022-04-22 10:39] #1106 closed

[2022-04-22 10:41] d-bytebase commented on #1142
Thanks @yaohui-wyh for your contribution. https://github.com/bytebase/bytebase/pull/1143 closes it.

[2022-04-22 10:41] #1142 closed

[2022-04-22 10:42] d-bytebase commented on #462
Closing. Feel free to reopen it if this is still an issue.

[2022-04-22 10:42] #462 closed

[2022-04-23 03:20] sagungargs15 commented on #1135
@d-bytebase Thanks the suggestion "/" (no relative path) for healthcheck with port 80 works for now as an interim solution

@h3n4l Looking forward to the -pg release :)

[2022-04-27 15:46] h3n4l commented on #1119
Hi @halostatue , I think it may be a problem caused by colima's VM mechanism.
You can try start `colima` by using `--mount` option seems like below, it works on my MBP M1 silicon:
[code]

[2022-04-28 01:12] #1119 closed

[2022-04-29 03:36] h3n4l commented on #1135
Hi @sagungargs15 , you can use v1.0.4 version now.

[2022-04-29 12:33] #1056 closed

[2022-04-29 12:34] #1120 closed

[2022-04-29 12:35] d-bytebase commented on #1135
Feel free to reopen if this is still an issue. Thanks for the suggestions!

[2022-05-04 03:33] Vonng opened #1204 "Existing PG extensions & views will block --pg perform metadb migration"
**Provide the Bytebase version you are using**

v1.0.4

**Describe the bug**

Use external pg with existing schemas prevent bytebase perform metadb migration.

The `docker-compose.yaml` conf file

[code]

The error output:

[code]

[code]

The database is already provisioned with extension `pg_stat_statements` under schema `monitor` and `pg_repack` extension under schema `pg_repack`.

After drop e

[2022-05-07 07:00] tnir opened #1232 "fix(i18n): broken locale files"
This changeset looks like missing translations from #998, for example.

While #998 was merged 28 hours ago, @LiuJi-Jim looks having generated the commit 5 hours ago...

@LiuJi-Jim Which commit did you use from?

_Originally posted by @tnir in https://github.com/bytebase/bytebase/issues/1225#issuecomment-1120146298_

[2022-05-07 07:02] LiuJi-Jim commented on #1232
Let me fix this in another PR.

[2022-05-07 07:06] tnir commented on #1232
@LiuJi-Jim Oops, I finished to prepare #1233 😁

[2022-05-07 07:16] #1232 closed

[2022-05-10 07:31] Cluas opened #1254 "FindMigrationHistoryList error when use external pg"
- use external pg as bytebase db
- create db on tenant mode project
```check duplicate version error: "failed to connect to `host=xxx user=xxx database=bytebase`: server error (FATAL: database \"bytebase\" does not exist (SQLSTATE 3D000))"```

https://github.com/bytebase/bytebase/blob/5d3ca6e452bec01bc8362964c3c2b4698d04e782/plugin/db/util/driverutil.go#L191
https://github.com/bytebase/bytebase/bl

[2022-05-10 12:43] Cluas commented on #1254
In fact I wasn't able to reproduce the issue, it only appeared once, in the same issue

[2022-05-10 12:46] h3n4l commented on #1254
If you encounter this problem again and have new discoveries, more details are welcome.
Thanks for your contribution @Cluas .

[2022-05-10 13:01] Cluas commented on #1254
I will continue to pay attention to the encounter immediately to submit the relevant context, I looked at the code this afternoon for a long time did not find where the problem, and then I debug the local, found no way to reproduce

[2022-05-10 13:06] h3n4l commented on #1254
Thank you. I will also continue to pay attention to this issue.

[2022-05-10 13:46] unknwon opened #1263 "Unable to update Git provider once given bad credentials"
**Provide the MySQL version you are using (if related with instance/database operation)**

n/a

**Provide the GitLab version you are using (if related with VCS integration)**

https://gitlab.bytebase.com

**Provide the Bytebase version you are using**

Latest `main` at the time of filing, 6e3648211e8f8c81cabfe4aedc7b6175c1f2c060

**Describe the bug**

It is possible to perform Git provider update

[2022-05-10 14:45] h3n4l commented on #1254
@Cluas User boot bytebase with `--pg` option will be required to provide database name which means bytebase will store its metadata in the specified database instead create bytebase database to store bytebase's own metadata.

If the user adds an instance to bytebase, bytebase will create a database named bytebase in this instance.

[2022-05-10 14:54] Cluas commented on #1254
<img width="523" alt="image" src="https://user-images.githubusercontent.com/10056928/167658229-7de6690a-1957-4cd1-92a6-c33990dbe8d1.png">
pg1 is instance.

[2022-05-10 15:04] h3n4l commented on #1254
Oh, I get you.
Bytebase creates a database named bytebase in instance and create a table likes `migration_history` to track the database change in that instance.

Bytebase also uses this core to manage its own schema change. But bytebase's own migration_history will store in the instance that specified by your pgURL.

[2022-05-10 15:19] h3n4l commented on #1254
Schema change is a general concept and I don't think it should have anything to do with switching to reduce connections. The database specified in the pg option stores the migration_history table that bytebase uses to manage its own schema changes. The migration_history in pg1 is to manage the schema change of the database in pg1.

[2022-05-10 15:20] Cluas commented on #1254
Just feel that the design is hidden deeper, if there is a document to point out this point would be good

[2022-05-10 15:31] h3n4l commented on #1254
[schema-update-guide](https://github.com/bytebase/bytebase/blob/main/docs/schema-update-guide.md) and [migration history](https://www.bytebase.com/docs/features/migration-history) may give you some inspiration.

[2022-05-12 04:07] h3n4l commented on #1263
Hi @unknwon , thanks for your contribution. Feel free to reopen this issue if there are any question more.

[2022-05-12 04:07] #1263 closed

[2022-05-22 15:54] #1254 closed

[2022-05-24 11:35] NickStepanov opened #1372 "VCS GitLab Provider Repository Selection List - incomplete list, shows only top 20"
**Provide the GitLab version you are using (if related with VCS integration)**
v13

**Provide the Bytebase version you are using**
1.0.5

**Describe the bug**

When in project setting up version control, on "step 2 Select repository" only 20 repositories shown, presumably randomly or just top 20, without any scroll possibility or search, therefore it's not possible to find my repository when there

[2022-05-27 08:02] tisonkun opened #1407 "migrate semantic pull request checks to SemanticPRs"
[Semantic Pull Request](https://github.com/zeke/semantic-pull-requests) App is no longer maintained.

[Semantic PRs](https://github.com/apps/semantic-prs) can be a dropped-in replacement.

cc @tianzhou @d-bytebase it's basically a repo setting change, no code should be updated.

[2022-05-31 06:01] d-bytebase commented on #1407
https://github.com/Ezard/semantic-prs seems a bit new, about 20+ ago. We can stay with Semantic Pull Request till we meet any problem.

[2022-05-31 06:52] tisonkun commented on #1407
“ Semantic Pull Request” doesn't work any more. The service is no longer online.

[2022-05-31 06:55] tisonkun commented on #1407
<img width="820" alt="image" src="https://user-images.githubusercontent.com/18818196/171110607-ee44c6ad-6114-4561-b8d7-d487f10a406d.png">

<img width="850" alt="image" src="https://user-images.githubusercontent.com/18818196/171111077-a9aca6df-d1c6-422b-8c52-dbb085e1d6f0.png">

Note that the "Semantic Pull Request" status is no longer reported.

[2022-05-31 09:46] d-bytebase commented on #1407
Gotit, thanks for the reminder 👍 I've enabled Semantic PRs App.

[2022-05-31 09:59] #1407 closed

[2022-06-03 07:39] mencner opened #1467 "Database Sync errros"
**Provide the Postgres version you are using (if related with instance/database operation)**
13.6
**Provide the Bytebase version you are using**
1.1.0

**Describe the bug**

When we try to synchronize databases from a created instance with the sync now button we receive the following error:

ailed to get indices from database "databasename": getIndex("fileimport_vault", "ix_fileimport_vault_balanc

[2022-06-05 03:19] xorander00 opened #1470 "Guidance on platform porting"
**Is your feature request related to a problem? Please describe.**

Found this project and it looks cool! Trying it out for the first time, but I'm not using Linux (or Darwin). I'm using FreeBSD and would like to try it on there.

I've only started messing around with it an hour ago, but based on trying to build the source, I can see that it includes binaries for PostgreSQL server & MySQL utils.

[2022-06-05 04:23] xorander00 commented on #1470
Nevermind, got it working (it appears anyway)! :) Pretty straightforward, just ran through the dependencies with ldd & packages everything up for the FreeBSD-specific embedded archives.

[2022-06-06 01:13] h3n4l commented on #1470
Hi, @xorander00!

We use embedding PostgreSQL to save our own metadata, but you can use the `--pg` option to save bytebase's own metadata in a specific external PostgreSQL database.

We use MySQL client and mysqlbinlog binary to help us do backup and restore the MySQL database now.

cc @d-bytebase

[2022-06-06 01:19] xorander00 commented on #1470
Yup, got it launching and working initially, but then I ran into an issue and had to stop due to other work.

When I tried to create a database instance, it threw an error in the log with regards to pg_dump not being to use --password. I assume it was running pg_dump after creation to snapshot the database. I wasn't sure if it was a pg version (I'm using 14) requirement for bb or if there's someth

[2022-06-06 01:22] h3n4l commented on #1470
Thanks for the question, can you provide more details to reproduce?

[2022-06-06 01:24] xorander00 commented on #1470
If it helps at all, here's the snippet from the main error...

[code]

[2022-06-06 01:26] xorander00 commented on #1470
I also saw this error at one point, but wasn't sure how to get more details other than turning on verbose logging on PostgreSQL and checking its logs...

[code]

[2022-06-06 04:14] dragonly commented on #1470
FYI, I reproduced the `pg_dump`'s `--password` issue with this command @h3n4l
[code]

[2022-06-06 04:17] h3n4l commented on #1470
@dragonly Yes, this bug will appear not only on bb, but also  on bytebase. I will fix them later. Thanks~

[2022-06-06 05:23] #1470 closed

[2022-06-13 07:37] h3n4l commented on #1467
Hi @mencner, thanks for your contribution. I cannot reproduce this problem in Bytebase of version 1.1.0, here are my steps to reproduce it:

1. Run PostgreSQL 13.6 with docker
2. Create a database named `test` and create a table named `tbl` and a unique index by using:
[code]
<img width="660" alt="CleanShot 2022-06-13 at 15 37 29@2x" src="https://user-images.githubusercontent.com/87714218/17330331

[2022-06-13 08:22] mencner commented on #1467
Hi @h3n4l unfortunately i can't provide more info than that, is there anything else which might have to be written exactly the same including upper and lower cases?

[2022-06-13 09:24] h3n4l commented on #1467
Sorry, I can reproduce this problem in Bytebase of version 1.1.0 now. I use `CREATE UNIQUE INDEX "ix_fileimport_vault_balanceOpenItems_dwh_ouid" ON tbl(id);` (ix_fileimport_vault_balanceOpenItems_dwh_ouid with double quotes). @mencner

[2022-06-13 11:18] h3n4l commented on #1467
Thanks for your contributions @mencner. Feel free to reopen this issue if you have any questions. ^ ^

[2022-06-13 19:51] mencner commented on #1467
Very cool thank you, when do you think a new docker image with this fix will be available?

[2022-06-14 01:23] d-bytebase commented on #1467
Hi @mencner, there's a release next week. We'll send an announcement next Thursday.

[2022-06-14 02:30] h3n4l commented on #1204
Hi @Vonng, sorry for being late. I cannot reproduce this problem in the Bytebase of version 1.1.1. Here are my steps to reproduce:
[code]
And then I boot bytebase 1.1.1 by using:
[code]
I didn't get an error.
I think this has been fixed. How about trying the latest version of bytebase?
Thanks for your contribution. : )

[2022-06-16 02:48] rebelice opened #1533 "(Schema Review) Roadmap and project dashboard"
## Introduction

[Schema Review](https://www.bytebase.com/docs/features/schema-review/overview) provides customizable SQL lint to check common issues in the schema change process and queries. Now it's a plugin in Bytebase and only supports MySQL, but we plan to build a SQL lint service independent of Bytebase, supporting both MySQL and PostgreSQL. [GoInception](https://github.com/hanchuanchuan/goI

[2022-06-16 02:50] rebelice commented on #1533
I'll create the sub-issue later.

[2022-06-22 06:11] rebelice opened #1586 "(Schema Review) Add PostgreSQL Naming Table Convention Rule"
The same as the MySQL naming table convention rule. Details in https://github.com/bytebase/bytebase/pull/1208.

[2022-06-22 06:14] rebelice opened #1587 "(Schema Review) Add PostgreSQL Column Naming Convention"
The same as the column naming convention. Details in https://github.com/bytebase/bytebase/pull/1234.

[2022-06-22 06:17] rebelice opened #1588 "(Schema Review) Add PostgreSQL Index Naming Convention"
The same as the MySQL index naming convention. Details in https://github.com/bytebase/bytebase/pull/1230.

[2022-06-22 06:19] rebelice opened #1589 "(Schema Review) Add PostgreSQL Primary Key Naming Convention Rule"
It's similar to [Index Naming Convention](https://github.com/bytebase/bytebase/issues/1588) but for Primary Key.

[2022-06-22 06:21] rebelice opened #1590 "(Schema Review) Add PostgreSQL Unique Key Naming Convention Rule"
The same as the MySQL Unique Key Naming Convention Rule. Details in #1230.

[2022-06-22 06:22] rebelice opened #1591 "(Schema Review) Add PostgreSQL Foreign Key Naming Convention Rule"
The same as the MySQL foreign key naming convention. Details in #1230

[2022-06-22 06:25] rebelice opened #1592 "(Schema Review) Add PostgreSQL "Disallow SELECT *" Rule"
The same as the MySQL rule. See #1278

[2022-06-22 06:27] rebelice opened #1593 "(Schema Review) Add PostgreSQL WHERE Clause Requirement Rule"
The same as the MySQL rule. See #1280  and #1099

[2022-06-22 06:28] rebelice opened #1594 "(Schema Review) Add PostgreSQL "No Leading Wildcard LIKE" Rule"
The same as the MySQL rule. See #1285

[2022-06-22 06:29] rebelice opened #1595 "(Schema Review) Add PostgreSQL "Table Require PK" Rule"
The same as the MySQL rule. See #1312

[2022-06-22 06:31] rebelice opened #1596 "(Schema Review) Add PostgreSQL Schema Backward Incompatible Check"
The same as the MySQL rule. See https://github.com/bytebase/bytebase/blob/main/plugin/advisor/mysql/advisor_migration_compatibility.go

[2022-06-22 06:32] rebelice opened #1598 "(Schema Review) Add PostgreSQL "Columns Requirement" Rule"
The same as the MySQL rule. See #1214

[2022-06-22 06:33] rebelice opened #1599 "(Schema Review) Add PostgreSQL "Column No NULL" Rule"
The same as the MySQL rule. See #1288

[2022-06-22 06:37] rebelice opened #1600 "(Schema Review) Add MySQL "Index Doesn't Contain BLOB column" Rule"

[2022-06-22 06:39] rebelice opened #1601 "(Schema Review) Add MySQL "Cannot Drop Column In Index" Rule"

[2022-06-22 06:39] rebelice opened #1602 "(Schema Review) Add MySQL "No Foreign Key" Rule"

[2022-06-22 06:42] rebelice opened #1603 "(Schema Review) Add MySQL Rule to Prevent Customers to Drop Database or Tables Accidentally"
- check 1
    - one can only drop a database if there's no table in it;
- check 2
    - only tables named with xxx_delete (default, but allowing users to change the regex pattern) can be deleted. This requires users to rename and then drop the table.

[2022-06-22 06:46] #1586 closed

[2022-06-22 06:49] rebelice commented on #1533
Construction completed! Welcome to discuss Schema Review here.

[2022-06-23 07:26] #1587 closed

[2022-06-27 03:20] LonglyCode opened #1647 "Is there any plan to support gitea/gogs and drone?"
`Gitea/Gogs` is more lightweight code hosting solution written in Go,`Drone` is a self-service Continuous Integration platform for busy development teams,the combination of the two is an excellent development solution.
Is there any plan to support gitea/gogs and drone?

[2022-06-27 03:39] dragonly commented on #1647
Hi @LonglyCode , FYI, we are currently working on Github integration: https://github.com/bytebase/bytebase/issues/928

We could then easily support other code hosting and CI platforms if they are compatible with Github.

[2022-06-30 09:18] mencner commented on #1467
I tested the new 1.2.0 release, is it possible this wasn't merged in?

[2022-06-30 09:26] mencner commented on #1467
Hmm you might be right, the error message is different now:

failed to get indices from database "databasename": getIndex("db_migration", "\"report_vat-table_pkey\"") got error ERROR: invalid name syntax (SQLSTATE 42602)

This happens at the same time as this issue, I try to synchronize the databases from the instance and get the error message

[2022-06-30 09:32] mencner commented on #1467
P.S to this one i run this as a docker container

[2022-06-30 09:34] h3n4l commented on #1467
Sorry for that. I'm guessing there might be a conflict with some fixes. I will try to fix it again in the next release.  @mencner

[2022-06-30 09:37] mencner commented on #1467
Are we sure, that this is not a different issue? Because the error message is different?

[2022-06-30 09:41] dragonly commented on #1467
It seems like you've got quotes `"` in the index name. We'll investigate that.
FYI @h3n4l

[2022-06-30 09:42] h3n4l commented on #1467
I am not sure about this. Does your index name contain double quotes? "report_vat-table_pkey" or report_vat-table_pkey?

[2022-07-01 03:40] tisonkun commented on #1591
@rebelice I create a branch https://github.com/tisonkun/bytebase/tree/issue-1591 for trying implement this feature.

However, since we change the parsing logic for pg at https://github.com/bytebase/bytebase/pull/1698, it's a bit complex to me to correctly parsing `CreateTableStmt` and `AlterTableStmt` with foreign key constraints. I tried to add some structs of ast nodes, but it's still imcomplete

[2022-07-01 03:46] rebelice commented on #1591
@tisonkun Let me have a look at this. Maybe I can support parsing `CreateTableStmt` and `AlterTableStmt` with constraints so that you can continue to implement this feature.

[2022-07-01 07:31] mencner commented on #1467
Yes it seems it was created like this:
 CREATE UNIQUE INDEX "report_vat-table_pkey" ON db_migration."report_vat-table" USING btree (id)

[2022-07-06 09:31] wjxin24 opened #1770 "Avoid using io.Copy for decompressing data"
**Provide the Bytebase version you are using**
1.2.0

**Describe the bug**
https://github.com/bytebase/bytebase/blob/5fecb88034359abda7ec0aeb2ca4a205fedc2c51/resources/utils/extract.go#L69 Use of `io.Copy` is warned by gosec

`io.Copy` copies from src to dst until either EOF is reached on src or an error occurs. A vulnerability is that a malicious payload might cause the program to decompress an u

[2022-07-06 09:49] dragonly commented on #1770
Thanks for filing this issue!
The `tarReader` here is from an embedded tar file in the Bytebase repo, which means the size is known and considerably small.
Examples of embedded files: https://github.com/bytebase/bytebase/tree/main/resources/mysqlutil.

[2022-07-06 09:52] d-bytebase commented on #985
Closing, feel free to reopen if the bug still persists.

[2022-07-06 09:52] #985 closed

[2022-07-06 09:59] d-bytebase commented on #1467
The coming release 1.2.1 this Thursday should include the fix https://github.com/bytebase/bytebase/pull/1511.

[2022-07-08 06:21] mencner commented on #1467
I just tested with 1.2.1 still the same error message :-(

[2022-07-12 02:29] #1770 closed

[2022-07-12 09:59] prashantkumaryadav opened #1835 "Can not run with https"
While starting the bytebase with "https://" we cant access it with the same. It still uses http:// only.

     --host string   host where Bytebase is accessed from, must start with
                      http:// or https://. This is used by Bytebase to create the
                      webhook callback endpoint for VCS integration (default
                      "https://localhost")

**Provide the By

[2022-07-12 20:58] #463 closed

[2022-07-16 10:35] tisonkun commented on #1591
Since https://github.com/bytebase/bytebase/pull/1718 added support for constraints, I'm resuming this task now.

[2022-07-16 10:45] tisonkun commented on #1591
I find a weird case that pg_query_go may cut constraint name with limit 64 characters.

[2022-07-16 10:51] rebelice commented on #1591
It does. It's the PG parser's feature.

[2022-07-16 10:58] tisonkun commented on #1591
@rebelice is it from PG's spec or the parser lib dialect?

[2022-07-16 11:19] rebelice commented on #1591
@tisonkun, I think it's from PG's spec. The lib `pg_query_go` uses the original PG parser, which means it uses CGO to build the Go PG parser. This lib only translates the C struct to the Go struct. It doesn't create a new dialect.

[2022-07-16 12:41] tisonkun commented on #1591
@rebelice Thanks for your information. So many database tips >_<

[2022-07-17 03:06] unknwon commented on #928
Update: This issue is no longer up-to-date, but keeping it as the placeholder until the GitHub.com integration is completed.

[2022-07-17 03:59] #1591 closed

[2022-07-17 07:19] tisonkun commented on #1588
I may try to take over #1588 #1589 #1590 in next week.

You can assign these issues to me if the estimate sounds good to you.

[2022-07-17 07:20] tisonkun commented on #1589
Comment to be able to get assigned. See https://github.com/bytebase/bytebase/issues/1588#issuecomment-1186427820.

[2022-07-17 07:20] tisonkun commented on #1590
Comment to be able to get assigned. See https://github.com/bytebase/bytebase/issues/1588#issuecomment-1186427820.

[2022-07-17 07:32] rebelice commented on #1588
@tisonkun these three issues may rely on getting index/uk/pk from the catalog, which doesn't support PG now. I'll implement it tomorrow

[2022-07-17 07:33] rebelice commented on #1588
Thanks for your contribution

[2022-07-17 07:35] tisonkun commented on #1588
Thanks for your information. Then I'll resume these tasks in Wed. Or you can invite me to review your patch so that I can keep up-to-date.

[2022-07-21 04:01] #1599 closed

[2022-07-21 12:09] h3n4l commented on #1835
Hi @prashantkumaryadav , follow the [Bytebase document](https://www.bytebase.com/docs/administration/production-setup#2-setup-https) to use HTTPS.

[2022-07-23 05:55] #1590 closed

[2022-07-26 12:40] #1598 closed

[2022-07-27 12:39] tianzhou commented on #14
@Slach FWIW, we already have data teams using the GitOps feature branch workflow to apply schema change to ClickHouse in the production environment. The steps are summarized [here](https://www.bytebase.com/docs/how-to/workflow/gitops-feature-branch)

[2022-07-27 15:39] #1595 closed

[2022-07-28 04:38] dragonly commented on #1467
We should cover those cases using regression test @h3n4l

[2022-07-29 07:21] #1593 closed

[2022-07-29 07:40] #1594 closed

[2022-07-29 07:55] #1592 closed

[2022-07-29 08:38] #928 closed

[2022-07-29 09:15] rebelice commented on #1589
Hi @tisonkun, I’m sorry I had to resolve this issue today due to our release schedule, so I assigned it myself. Thanks for your participation. I will post more issues about SQL review later, welcome to participate.

[2022-07-29 09:15] rebelice commented on #1588
Hi @tisonkun, I’m sorry I had to resolve this issue today due to our release schedule, so I assigned it myself. Thanks for your participation. I will post more issues about SQL review later, welcome to participate.

[2022-07-30 16:09] #1596 closed

[2022-07-30 16:11] #1588 closed

[2022-07-31 06:57] #1589 closed

[2022-08-02 08:24] gspstudentone commented on #22
Hi Bytebase Team,

do you have any further plans to introduce the LDAP integration?

[2022-08-02 09:18] d-bytebase commented on #22
Hi @gspstudentone, LDAP integration is part of our roadmap. We are interested in your use cases and chat further about it which can help us better design this product feature. Hope we can be connected via d -at- bytebase.com.

[2022-08-02 10:30] mencner commented on #1467
Not to be disrespectful, but do you have a timeline when this will be fixed?

[2022-08-02 10:34] d-bytebase commented on #1467
Hi @mencner, we're not able to reproduce this issue and would like to know more details about your setup. Do you mind chatting together and having us take a closer look at your case? You can reach out to us at support@bytebase.com. Thanks!

[2022-08-03 04:39] jiangxiaoqiang opened #2145 "could not sync database from cloud kubernetes cluster"
**Provide the MySQL version you are using (if related with instance/database operation)**

PostgreSQL 13

**Provide the GitLab version you are using (if related with VCS integration)**

No GitLab

**Provide the Bytebase version you are using**

bytebase/bytebase:1.2.2

**Describe the bug**

After add the remote kubernetes database instance, I want to sync the remote database but failed. I am using

[2022-08-03 04:58] d-bytebase commented on #2145
Hi @jiangxiaoqiang, would you provide the error string from the browser? By the way, did you see the database list showing up from the instance page? And how long does it take for the error to show up? Thanks!

[2022-08-04 10:58] gspstudentone opened #2166 "Created pgdata folder even though external postgres is used"
**Bytebase v1.2.2**

**Created pgdata folder even though external postgres is used**

Launching the Bytebase with external Postgres database results in creating of local (docker) postgres instance which is not used.

**Steps or screenshots to reproduce the behavior**

$ docker run -d --init --name bb --add-host host.docker.internal:host-gateway --publish 8083:8080 --volume /root/bytebase:/var/opt/

[2022-08-04 10:59] gspstudentone commented on #2166
<img width="967" alt="Screen Shot 2022-08-04 at 12 57 36 PM" src="https://user-images.githubusercontent.com/110455607/182831107-9a8dcba4-2f4b-44ee-b699-8da73002d64c.png">

[2022-08-05 04:05] d-bytebase commented on #2166
Thanks @gspstudentone for filing the issue. https://github.com/bytebase/bytebase/pull/2168 should fix it.

[2022-08-05 04:18] #2166 closed

[2022-08-06 17:43] jiangxiaoqiang commented on #2145
Recently the telepresence was broken so that I could not reproduce this problem in my local machine. Maybe I will reproduce this problem after fixed the telepresence issue in the furture.

[2022-08-09 05:31] d-bytebase commented on #2145
Thanks @jiangxiaoqiang for the updates. I'm closing the issue for now, but feel free to reopen it if this is still an issue.

[2022-08-09 05:31] #2145 closed

[2022-08-13 10:00] h3n4l commented on #1204
Feel free to reopen this issue if you have any questions about this again.

[2022-08-13 10:00] #1204 closed

[2022-08-19 08:46] KaiNiao opened #2327 "(Schema Review) Add MySQL "Not Null field must provide default value" Rule"
It is recommended to provide default value for field that is not null by MySQL role.

[2022-08-22 00:52] #1835 closed

[2022-08-22 02:40] rebelice commented on #2327
I'll implement it this week.

[2022-08-22 10:51] fyankee opened #2347 "Cannot synchronize a database schema with a large amount of data"
**Provide the MySQL version you are using (if related with instance/database operation)**
mysql 5.7

**Provide the Bytebase version you are using**
1.3.1

The version info is shown on the bottom left of the console.
v1.3.1

**Describe the bug**
A clear and concise description of what the bug is.
For databases or new instances with a very large amount of data, there will be a timeout problem when d

[2022-08-23 02:32] fyankee commented on #2347
@tianzhou Appreciate it if could take a closely concern for this bug.

[2022-08-23 02:58] tianzhou commented on #2347
@fyankee we will look into it. BTW, you can turn off schema sync upon creating the instance

![CleanShot 2022-08-23 at 10 56 40@2x](https://user-images.githubusercontent.com/230323/186059531-ac51c199-a7f0-442f-b370-ed02032c3cdc.png)

After the instance is added, Bytebase will sync the schema in the background.

[2022-08-23 03:13] tianzhou commented on #2347
Oh, ignore my previous comment. You are syncing a particular database, then we do have a timeout issue if the database contains a lot of tables.

Though the proactive sync would timeout, Bytebase still performs background sync every 30 minutes. Would that be acceptable?

[2022-08-23 03:32] fyankee commented on #2347
The 30 minutes interval is acceptable. I understand that this synchronization mechanism is about schema-level synchronization, not involving data, right?
In addition, there is another question. Why does get start in docker-compose need to set two databases, but only one sqlite persistent storage needs to be set in helm chart. What is the difference between the two?
https://github.com/bytebase/byte

[2022-08-23 05:59] h3n4l commented on #2347
They are demo data.

HelmChart is overdue. I will fix it. Now, Bytebase self uses embed PostgreSQL instead of SQLite. I will update it.

[2022-08-23 07:17] fyankee commented on #2347
Thanks, @h3n4l
Let's go back to the issue itself, hoping to reproduce the issue under the k8s environment. I found that the usage capacity of the pvc also increased after synchronizing the data , even if not all the dbs were synchronized. I guess that Bytebase not only synchronizes the structure of the schema, but also synchronizes the data, which will cause a lot of network and storage pressure a

[2022-08-24 11:34] fyankee commented on #2347
This is a sensitive point if the user only wants to use Bytebase as a visualization window. Hope to optimize this point in future iterations, because our data provider does not allow us to cache data, so temporarily give up using Bytebase. Thanks all guys

[2022-08-24 11:44] tianzhou commented on #2347
@fyankee the only time we dump data is taking backups and the backup is disabled by default. If you don't want to cache data, you just don't enable backup on any of the databases.

Bytebase only syncs the schema every 30 minutes, we don't sync and cache data. And your security concern is one of the reasons we design like this.

[2022-08-24 11:45] tianzhou commented on #2347
The schema syncer code is here https://sourcegraph.com/github.com/bytebase/bytebase/-/blob/server/schema_syncer.go?L82&subtree=true. Run once every 30 minuntes.

[2022-08-26 11:11] #2327 closed

[2022-08-30 10:14] KaiNiao commented on #2327
thanks!

[2022-08-31 00:38] adela-bytebase commented on #2327
Hi @KaiNiao , thanks for the suggestion, send me a email at a@bytebase.com, so we can send you a swag gift maybe?

[2022-09-05 02:35] KiraChen1985 opened #2509 "can't use gitlab func. failed to exchange OAuth token, Fail to setup OAuth. token is too long，but token is right!"
**Provide the MySQL version you are using (if related with instance/database operation)**

**Provide the GitLab version you are using (if related with VCS integration)**

**Provide the Bytebase version you are using**
![origin_img_v2_c288fbe7-5bec-4627-a15e-51e8e31eec6g](https://user-images.githubusercontent.com/61575944/188349806-2c89da06-e4d0-49c5-bcd3-08e747336fee.jpg)

The version info is show

[2022-09-05 02:59] d-bytebase commented on #2509
Hi @KiraChen1985, I'm sorry that you hit this block. We need more information from you to investigate further such as Bytebase/GitLab deployment. Would you mind reaching out to my contact d@bytebase.com for us to follow up? Thank you!

[2022-09-05 23:46] renovate[bot] opened #2527 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Rate-Limited

These updates are currently rate-limited. Click on a checkbox below to force their creation now.

 - [ ] chore(deps): update bytebase/sql-review-action action to v0.0.6
 - [ ] chore(deps): update module github.com/b

[2022-09-19 07:06] rebelice commented on #1600
https://github.com/bytebase/bytebase/pull/2504

[2022-09-19 07:06] #1600 closed

[2022-09-19 07:08] rebelice commented on #1602
https://github.com/bytebase/bytebase/pull/1854

[2022-09-19 07:08] #1602 closed

[2022-09-19 07:09] rebelice commented on #1603
https://github.com/bytebase/bytebase/pull/1993
https://github.com/bytebase/bytebase/pull/1914

[2022-09-19 07:09] #1603 closed

[2022-09-20 10:46] vv5d commented on #2509
Yes, I got it. Exchange github token:   response message: "Failed to exchange OAuth token".

[2022-09-20 11:33] h3n4l commented on #2509
Hi @vv5d , what version are you using? If you are using version 1.4.0 and later and deployed on localhost, please configure a reverse proxy.

[2022-09-21 05:52] vv5d commented on #2509
Yes, U R right 😁. Thks a lot

[2022-09-26 09:58] rebelice opened #2798 "PostgreSQL SQL Review Tracking Issue"
## Introduction

[Schema Review](https://www.bytebase.com/docs/sql-review/review-rules/overview) provides customizable SQL lint to check common issues in the schema change process and queries. Now it's a plugin in Bytebase and supports MySQL, TiDB, and PostgreSQL. [GoInception](https://github.com/hanchuanchuan/goInception) provides a similar service but only supports MySQL dialect.

In this phase,

[2022-09-26 10:04] rebelice opened #2799 "(SQL-Review: PostgreSQL) no duplicate columns in the index"
Implement a SQL review advisor to disallow duplicate columns in one index.

References:
- [SQL review source code tour](https://sourcegraph.com/github.com/bytebase/bytebase/-/blob/docs/design/sql-review-source-code-tour.snb.md)
- [Example rule](https://sourcegraph.com/github.com/bytebase/bytebase@72e8995/-/blob/plugin/advisor/pg/advisor_naming_column.go)

[2022-09-26 10:07] rebelice opened #2800 "(SQL-Review: PostgreSQL) Column type disallow list"
Implement a SQL review advisor for column type disallow list.

References:

- [SQL review source code tour](https://sourcegraph.com/github.com/bytebase/bytebase/-/blob/docs/design/sql-review-source-code-tour.snb.md)
- [Example rule](https://sourcegraph.com/github.com/bytebase/bytebase@72e8995/-/blob/plugin/advisor/pg/advisor_naming_column.go)

[2022-09-26 10:09] rebelice opened #2801 "(SQL-Review: PostgreSQL) Limit comment length"
Implement a SQL review advisor to limit comment length.

References:

- [SQL review source code tour](https://sourcegraph.com/github.com/bytebase/bytebase/-/blob/docs/design/sql-review-source-code-tour.snb.md)
- [Example rule](https://sourcegraph.com/github.com/bytebase/bytebase@72e8995/-/blob/plugin/advisor/pg/advisor_naming_column.go)

[2022-09-26 10:11] rebelice opened #2802 "(SQL-Review: PostgreSQL) Encoding allow list"
Implement a SQL review advisor for encoding allowlist

For PostgreSQL, we only need to deal with the CREATE DATABASE statement.

References:

- [SQL review source code tour](https://sourcegraph.com/github.com/bytebase/bytebase/-/blob/docs/design/sql-review-source-code-tour.snb.md)
- [Example rule](https://sourcegraph.com/github.com/bytebase/bytebase@72e8995/-/blob/plugin/advisor/pg/advisor_naming_

[2022-09-26 10:14] rebelice opened #2803 "(SQL-Review: PostgreSQL) Limit rows in INSERT statement"
Implement a SQL review advisor to limit rows in INSERT statement.

References:

- [SQL review source code tour](https://sourcegraph.com/github.com/bytebase/bytebase/-/blob/docs/design/sql-review-source-code-tour.snb.md)
- [Example rule](https://sourcegraph.com/github.com/bytebase/bytebase@72e8995/-/blob/plugin/advisor/pg/advisor_naming_column.go)

[2022-09-26 10:17] rebelice opened #2804 "(SQL-Review: PostgreSQL) Limit the number of index keys"
Implement a SQL review advisor to limit the number of index keys.

References:

- [SQL review source code tour](https://sourcegraph.com/github.com/bytebase/bytebase/-/blob/docs/design/sql-review-source-code-tour.snb.md)
- [Example rule](https://sourcegraph.com/github.com/bytebase/bytebase@72e8995/-/blob/plugin/advisor/pg/advisor_naming_column.go)

[2022-09-28 09:46] Kikkon commented on #2801
🤣I can try it, you can assign it to me.

[2022-09-28 09:49] rebelice commented on #2801
Welcome, @Kikkon! I hope you have a good time here, and if you have any questions, please contact me~

[2022-09-28 15:08] zeroslope commented on #2803
I want to try it, you can assign it to me.

[2022-09-29 03:29] rebelice commented on #2803
Hi, @zeroslope. Thanks for your participation! I've added some useful tips and support at the parser level. Have fun~

[2022-10-01 16:52] fatelei commented on #2804
assign to me

[2022-10-01 16:57] d-bytebase commented on #2804
Thanks @fatelei for the contribution and help! Let us know if you need anything.

[2022-10-11 07:13] KaiNiao commented on #2327
ok, thank you!

---- Replied Message ----
| From | ***@***.***> |
| Date | 08/31/2022 08:39 |
| To | ***@***.***> |
| Cc | ***@***.******@***.***> |
| Subject | Re: [bytebase/bytebase] (Schema Review) Add MySQL "Not Null field must provide default value" Rule (Issue #2327) |

Hi @KaiNiao , thanks for the suggestion, send me a email at ***@***.***, so we can send you a swag gift maybe?

—
Reply to

[2022-10-11 15:35] VictorAssunc commented on #2802
hi @rebelice, can I try it?

[2022-10-11 15:51] d-bytebase commented on #2799
Hi @VUHAILAM, thanks for taking it up! Let me or @rebelice if you need any help. Cheers!

[2022-10-11 17:37] VictorAssunc commented on #2802
@d-bytebase @rebelice I have doubts about the implementation of this for Postgre, since in MySQL the `CreateDatabase` or `CreateTable` statement has an `options` that inform the charset used for the creation. This field should be added to Postgre statements as well, but what would be the correct way?

[2022-10-11 17:49] VUHAILAM commented on #2800
Hi @rebelice and @d-bytebase , I would like to implement it. Could you please assign to me. Thank you!!

[2022-10-11 17:50] VUHAILAM commented on #2800
And Could you please give me some examples about it!! Thanks

[2022-10-12 00:46] d-bytebase commented on #2800
Hi @VUHAILAM, this has some instructions and examples.

[2022-10-12 01:26] VUHAILAM commented on #2800
@d-bytebase Oki, I got it. But I mean I need some examples about SQL statement need check column type disallow list.

[2022-10-12 02:54] rebelice commented on #2802
Welcome, @VictorAssunc~ I'm sorry I didn't describe this issue clearly. In PostgreSQL, we call `encoding` as `charset`, so I change this issue to `Encoding allow list`. On the other hand, PostgreSQL only allows us to set the encoding for `database`.

e.g. `CREATE DATABASE db WITH ENCODING 'UTF8' LC_COLLATE='en_GB.UTF8' LC_CTYPE='en_GB.UTF8' TEMPLATE=template0;
`

Also, our PostgreSQL parser cannot

[2022-10-12 03:06] rebelice commented on #2800
Hi, @VUHAILAM ~ I'm sorry for not providing enough description.
In PostgreSQL, we have these ways to create or change the column type:
1. CREATE TABLE statements
2. ALTER TABLE ADD COLUMN statements
3. ALTER TABLE ALTER COLUMN SET DATA TYPE statements

We need to check these cases.

On the other hand, I realize that our parser doesn't support type comparisons very well, which will cause you troubl

[2022-10-12 09:11] rebelice commented on #2802
@VictorAssunc The PostgreSQL parser is now able to parse the CREATE DATABASE statements and the ENCODING option.

[2022-10-13 04:36] rebelice commented on #2800
Hi, @VUHAILAM ~ I add the EquivalentType function for DataType in #2990 . You can use it to compare the data type with
 the string.
Although our PostgreSQL can only parse the numeric type, such as int and decimal, it's OK to implement this issue. You can only test with the numeric type here.
I think you can try to resolve this issue now~

[2022-10-13 06:08] VUHAILAM commented on #2800
Thank you so much !!

[2022-10-13 18:58] VUHAILAM commented on #2799
Hi @rebelice, Could you please guild me how to constraint key names of AlterTableStmt or you help me to provide them.
https://github.com/bytebase/bytebase/blob/main/plugin/parser/ast/alter_table_stmt.go

[2022-10-15 06:53] #2802 closed

[2022-10-15 09:21] #2801 closed

[2022-10-17 08:39] Zheaoli opened #3049 "The ByteBase service will panic when booting without specific the --data arguments in container"
**Provide the MySQL version you are using (if related with instance/database operation)**

**Provide the GitLab version you are using (if related with VCS integration)**

**Provide the Bytebase version you are using**

The version info is shown on the bottom left of the console.

**Describe the bug**

The ByteBase service will panic when booting without specific the --data arguments in container

[2022-10-17 08:48] dragonly commented on #3049
The cause may be that the default --data value is `.`, which resolves to `/` in the docker container.

[2022-10-17 08:51] dragonly commented on #3049
IMO, this line is unnecessary
https://github.com/bytebase/bytebase/blob/fc27764f17e71df1540363a122add26a0d0dfb24/bin/server/cmd/root.go#L207

[2022-10-17 09:32] dragonly commented on #3049
@Zheaoli Thanks! And we can add a unit test for the `checkDataDir` to ensure the cases are covered.

[2022-10-17 14:43] milkwine opened #3058 "Gitops work with `UI Workflow` ?"
### Is your feature request related to a problem?

Want `gitops` but using the git provider `bytebase` not surpport yet, such as: `bitbucket`(#225), gitee and so on.

Git provider provide full feature about `vcs`, ensure db schema consistent with code repo.

`vcs` is great while it may takes days to support different git providers.

**Gitops may go first, let `CI/CD` plugin send `ddl` issue to `by

[2022-10-18 02:01] d-bytebase commented on #3058
Thanks @milkwine for the suggestion. There are some APIs for clients to create issues. However, that doesn't give us the full experience of GitOps such as writing back the latest schema file, SQL review, and more to come.

[2022-10-18 07:03] milkwine commented on #3058
Yes, it's more like enhanced `UI Workflow`. I really want to integrate `bytebase` with `CI/CD` to make db migrations, while `git provider`  not let me to, so sad.

I may take time to figure it out If coumunity think `CI/CD plugin` is a acceptable way. Or i should go deeper implement the git provider which i used ?

[2022-10-18 09:05] d-bytebase commented on #3058
Would you mind sending me an email `d@bytebase.com`? Happy to chat further about your use-case/setup and see what Bytebase can help. Thanks!

[2022-10-18 17:33] VUHAILAM commented on #2800
Hi @rebelice, I have some questions. Could you please provide me some TypeRulePayload?
And is this code error of type disallow: https://github.com/bytebase/bytebase/blob/983087a19f2bbf620793607e9141ef8c9706f223/plugin/advisor/code.go#L62
?
Thank you!!

[2022-10-19 04:10] SEVEN7ME opened #3075 "项目管理安全性问题"
### Describe the bug

项目访问地址： https://demo.bytebase.com/project/tenant-ui-3006#overview

当我不在该项目中时， 主需要直接访问项目地址可以直接将自己添加到项目中

并且项目成员可以随意的踢出任何人。

### Steps to reproduce

1. 用户A没有项目权限，项目地址：https://demo.bytebase.com/project/tenant-ui-3006#overview
2. 用户A直接访问地址后，点击设置--->管理成员--->添加自己
3. 用户A能够直接拿到该项目权限

### Expected behavior

权限拦截， 项目成员管理应该由项目拥有者操作

### Screenshots

_No response_

### Provide the Byteba

[2022-10-20 07:01] milkwine commented on #885
At this moment, you can directly using `ssh`(with `-L` option) command to do the port forwarding.
Forward a local port to your mysql port on EC2, then connect mysql via this local port.

Or maybe just deploy `Bytebase` on AWS, more close to your mysql server?

[2022-10-20 08:10] VUHAILAM commented on #2800
@rebelice and @d-bytebase , Please help me to reply the questions. Thank you!!

[2022-10-20 08:17] rebelice commented on #2800
I missed this message. :<

For question 1:

You may need `StringArrayTypeRulePayload`, details at https://sourcegraph.com/github.com/bytebase/bytebase/-/blob/plugin/advisor/sql_review.go?L260-263&subtree=true

For question 2:
Yes, you need to use `DisabledColumnType`.

[2022-10-21 03:25] glongzh opened #3096 "docker run with error "pthread_create failed: Operation not permitted""
### Describe the bug

when i run docker command following the document, it returns this error:
[code]
docker info
[code]

### Steps to reproduce

docker run --init \
  --name bytebase \
  --restart always \
  --publish 5678:8080 \
  --health-cmd "curl --fail http://localhost:5678/healthz || exit 1" \
  --health-interval 5m \
  --health-timeout 60s \
  --volume ~/.bytebase/data:/var/opt/bytebase \

[2022-10-21 03:32] RainbowDashy commented on #3096
I've encountered this error before. Please try updating your docker.

[2022-10-21 05:45] glongzh commented on #3096
any other suggestion? because sometimes it's hard to upgrade docker for SLES

[2022-10-21 05:51] d-bytebase commented on #3096
Hi @golangzh, thanks for reporting it. Would you mind providing the Docker version and your host machine OS type and version? We'd like to reproduce this issue. Meanwhile, you could try other means to install Bytebase.

https://www.bytebase.com/docs/get-started/install/overview

[2022-10-21 06:10] glongzh commented on #3096
@d-bytebase docker info and OS version are already provided. I'll try other installation method.

[2022-10-21 06:19] RainbowDashy commented on #3096
@glongzh This seems to be caused by syscalls not supported by older docker versions.

Here's a workaround you could try.
https://github.com/containers/skopeo/issues/1501#issuecomment-1129239152
https://github.com/nhost/hasura-storage/issues/93#issuecomment-1152951861

[2022-10-21 06:40] glongzh commented on #3096
@RainbowDashy adding `--security-opt seccomp=unconfined` works! Thanks

[2022-10-21 07:18] RainbowDashy commented on #3096
Glad it works!
I'll close this issue. Feel free to reopen or open another issue if you have any questions.

[2022-10-21 07:18] #3096 closed

[2022-10-21 12:03] d-bytebase commented on #3075
Hi @SEVEN7ME, Role based access control is available to Team plan. For free plan, everyone get owner privileges.

[2022-11-01 02:17] RainbowDashy commented on #3096
@dg424 Hi.
Did you also encounter this problem? Upgrading docker might be the easiest fix if that's feasible for you.
I'm not sure what profile it should be. Maybe this [doc](https://docs.docker.com/engine/security/seccomp/) could be helpful.

[2022-11-01 13:06] dg424 commented on #3096
Hi @RainbowDashy
Yes, I ran into this problem. I'm using the latest docker as well. But I now realize that this is probably the wrong place to post as my problem is related to running another tool (buildah) "under" docker, rather than just plain docker itself.

[2022-11-03 13:00] herbertstos opened #3293 "Connection with redshift"
### Is your feature request related to a problem?

I tried to make a connection with redshift but I was not successful at the time of fetching the user to create the connection as a bank, I believe it is the differences between postgree and redshift.

### Describe the solution you'd like

I suggest creating a feature that can connect with redshift.

### Additional context

_No response_

[2022-11-03 13:02] #3293 closed

[2022-11-03 13:02] herbertstos commented on #3293
I'm closing to open in my new name

[2022-11-03 13:03] herbertstos opened #3294 "Connection with AWS redshift"
### Is your feature request related to a problem?

I tried to make a connection with redshift but I was not successful at the time of fetching the user to create the connection as a database, I believe it is the differences between postgree and redshift.

### Describe the solution you'd like

I suggest creating a feature that can connect with redshift.

### Additional context

_No response_

[2022-11-04 10:08] shaonianche opened #3314 "ui bug"
### Provide the Bytebase version you are using

docker-v1.7.0，Google Chrome 107.0.5304.87 (x86_64)

### Describe the bug

![20221104180436](https://user-images.githubusercontent.com/16186646/199946799-40464427-bd59-4c1a-a6ce-c57fc1a4f6ec.gif)

### Steps to reproduce

Instances page -> Users

### Expected behavior

It should be displayed on the next line ..

### Provide the database type and versio

[2022-11-05 21:01] herbertstos commented on #3294
Hi Bytebase Team,

would it be complicated to add this new feature?

[2022-11-05 23:54] d-bytebase commented on #3294
Hi @herbertstos, @h3n4l is currently investigating the technical parts to make it happen. We will send you update next week. By the way, you can join our discord community or book a meeting with us (my email d@bytebase.com) for us to understand your use case and prioritize it. Thanks.

https://www.bytebase.com/docs/faq#how-to-reach-us

[2022-11-10 02:47] #3049 closed

[2022-11-10 12:09] #3314 closed

[2022-11-12 03:58] theseusyang1 opened #3340 "building Bytebase backend, 'pg_query.h' file not found"
### Provide the Bytebase version you are using

1.7.0

### Describe the bug

Step 2 - building Bytebase backend...
# github.com/pganalyze/pg_query_go/v2/parser
vendor/github.com/pganalyze/pg_query_go/v2/parser/parser.go:6:10: fatal error: 'pg_query.h' file not found
#include "pg_query.h"
         ^~~~~~~~~~~~
1 error generated.

### Steps to reproduce

scripts/build.sh

### Expected behavior

buil

[2022-11-12 06:02] d-bytebase commented on #3340
Hi @theseusyang1, is it XCode 14.1 or its command line toolkit? That's a known issue. You can downgrade it an old version such as 14.0.1.

[2022-11-13 13:01] d-bytebase commented on #3294
After some investigation, Redshift is based on PostgreSQL 8 while our major support for PostgreSQL is >=10.0.

https://docs.aws.amazon.com/redshift/latest/dg/r_VERSION.html

[2022-11-13 14:10] herbertstos commented on #3294
Hi, I understand.  but is it not possible to develop a feature for redshift?

[2022-11-13 14:15] herbertstos commented on #3294
@d-bytebase What is the final decision, about this feature?

[2022-11-13 15:35] h3n4l commented on #3294
We are focusing on this, we found that AWS Redshift based on PostgreSQL 8.0, we need to find a compatible way. @herbertstos

[2022-11-14 23:53] d-bytebase commented on #2509
Problem solved 🤩

[2022-11-14 23:53] #2509 closed

[2022-11-21 02:06] #3340 closed

[2022-11-28 03:19] Cluas opened #3558 "Manual trigger external approval instead of auto trigger"
### Is your feature request related to a problem?

The current timing of triggering external approvals does not match the actual timing of when approvals need to be processed.

### Describe the solution you'd like

External approval triggered manually by Developer, possibly a button, if external approval is configured.

### Additional context

_No response_

[2022-11-28 20:24] Jack-Kingdom opened #3589 "Remove postgres in docker"
### Is your feature request related to a problem?

Why we run app and database both in a single container. It's no need to run a separated database for an app.

### Describe the solution you'd like

Remove postgres in docker file. Let user choose what he wanted.

### Additional context

_No response_

[2022-11-28 20:47] Jack-Kingdom commented on #3589
I have checked source code. postgres database only created if no external database provided.

[2022-11-28 20:47] #3589 closed